  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <!-- <div *ngIf="loading" class="loadingSec">
      <img src="assets/images/loading-gif.gif" alt="Image" class="loading" />
  </div> -->

      <ul class="sidebar-nav" id="sidebar-nav">


        <!-- Your component template -->
        <li class="nav-item" *ngFor="let navmenu of showmenu; let i = index">
          <a class="nav-link collapsed" 
            (click)="toggleCollapse(i)"
            [routerLink]="['/', navmenu.MENU_LINK]"
            [routerLinkActive]="'active-link'">
            <i class="{{navmenu.MENU_ICON}}"></i><span>{{navmenu.MENU_NAME}}</span>
            <i class="fa fa-angle-down ms-auto" *ngIf="navmenu.SubMenu" aria-hidden="true"></i>
          </a>
          <ul [id]="'components-nav-' + i" class="nav-content collapse" data-bs-parent="#sidebar-nav" [ngClass]="{ 'show': isSubmenuActive(i) }">
            <li *ngFor="let sub of navmenu.SubMenu; let j = index">
              <a class="nav-link" [routerLink]="['/', sub.MENU_LINK]" [routerLinkActive]="'active-sublink'">
                <i class="{{sub.MENU_ICON}}"></i><span>{{sub.MENU_NAME}}</span>
              </a>
            </li>
          </ul>
        </li>

       

        <!-- <li class="nav-item" *ngFor="let navmenu of showmenu; let i = index">
          <a class="nav-link collapsed" 
             (click)="toggleCollapse(i)"
             [routerLink]="['/', navmenu.MENU_LINK]"
             [routerLinkActive]="'active'">
            <i class="{{navmenu.MENU_ICON}}"></i><span>{{navmenu.MENU_NAME}}</span>
            <i class="fa fa-angle-down ms-auto" *ngIf="navmenu.SubMenu" aria-hidden="true"></i>
          </a>
          <ul [id]="'components-nav-' + i" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li *ngFor="let sub of navmenu.SubMenu; let j = index">
              <a class="nav-link" [routerLink]="['/', sub.MENU_LINK]" [routerLinkActive]="'active'">
                <i class="{{sub.MENU_ICON}}"></i><span>{{sub.MENU_NAME}}</span>
              </a>
            </li>
          </ul>
        </li> -->
      
      
<!-- 
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-desktop"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/university" routerLinkActive="active">
          <i class="fa fa-graduation-cap"></i>
          <span>University</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/college" routerLinkActive="active">
          <i class="fa fa-building"></i>
          <span>college</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/academic-year" routerLinkActive="active">
          <i class="fa fa-calendar"></i>
          <span>Academic Year</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/semester" routerLinkActive="active">
          <i class="fa fa-desktop"></i>
          <span>Semester</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/profile" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/student-list" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Student List</span>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/instructor" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Instructor</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/student-paper-mapping" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Exam Enrollment</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/timetable" routerLinkActive="active">
          <i class="fa fa-clock-o"></i>
          <span>Time Table</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/class-time-table" routerLinkActive="active">
          <i class="fa fa-clock-o"></i>
          <span>Class Time Table</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/attendance" routerLinkActive="active">
          <i class="fa fa-hand-o-up"></i>
          <span>Attendance</span>
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/first-component" routerLinkActive="active">
          <i class="fa fa-graduation-cap"></i><span>Course</span><i class="fa fa-angle-down ms-auto" aria-hidden="true"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          
          <li>
            <a routerLink="/course-content" class="nav-link collapsed subLink" routerLinkActive="active">
              <span>Course Content</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/paper-type" routerLinkActive="active">
              <span>Paper Type</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/course-type" routerLinkActive="active">
              <span>Course Type</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/programme" routerLinkActive="active">
              <span>Programme</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/college-programm" routerLinkActive="active">
              <span>College Programme Mapping</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/branch" routerLinkActive="active">
              <span>Branch</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/paper" routerLinkActive="active">
              <span>Paper</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/chapter" routerLinkActive="active">
              <span>Chapter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/topic" routerLinkActive="active">
              <span>Topic</span>
            </a>
          </li>  
         
         
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/doubts" routerLinkActive="active">
          <i class="fa fa-question-circle-o"></i>
          <span>Doubts</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/assignment" routerLinkActive="active">
          <i class="fa fa-file-pdf-o"></i>
          <span>Assignments</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/exam-registration" routerLinkActive="active">
          <i class="fa fa-pencil-square"></i>
          <span>Exam Registration</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/admit-card" routerLinkActive="active">
          <i class="fa fa-check-square-o"></i>
          <span>Admit Card</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/mark-sheet" routerLinkActive="active">
          <i class="fa fa-file-text"></i>
          <span>Mark Sheet</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/scrutiny" routerLinkActive="active">
          <i class="fa fa-check-square"></i>
          <span>Scrutiny</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/payment-type" routerLinkActive="active">
          <i class="fa fa-inr"></i>
          <span>Payment Type</span>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/ledger" routerLinkActive="active">
          <i class="fa fa-inr"></i>
          <span>Ledger</span>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/fees" routerLinkActive="active">
          <i class="fa fa-inr"></i>
          <span>Fees</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/fees-structure" routerLinkActive="active">
          <i class="fa fa-inr"></i>
          <span>Fees Structure</span>
        </a>
      </li> -->

    </ul>


  </aside><!-- End Sidebar-->
