<main id="main" class="main">
    <div class="pagetitle">
        <h1>Scrutiny</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
            <div class="col-xl-12">

                <div class="search-container">
                    <div class="row mb-4">
                      <div class="col-sm-4 pe-0 mb-2"><input class="form-control" type="text" placeholder="Search Student Name..." [(ngModel)]="searchFilters['STUDENT_NAME']" (input)="updateFilteredItems()" /></div>
                      <div class="col-sm-4 pe-0 mb-2"><input class="form-control" type="text" placeholder="Search Registration No..." [(ngModel)]="searchFilters['REGISTRATION_NO']" (input)="updateFilteredItems()" /></div>
                      <div class="col-sm-4 pe-0 mb-2">  <input class="form-control" type="text" placeholder="Search Roll No..." [(ngModel)]="searchFilters['ROLL_NO']" (input)="updateFilteredItems()" /> </div>
                        
                    </div>
                </div>

                <div class="tblMN table-responsive text-nowrap long-text-cell mb-2">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Student
                                </th>
                                <th>
                                    Registration No.
                                </th>
                                <th>
                                    Roll No.
                                </th>
                                <th>
                                    SEM
                                </th>
                                <th>
                                    Academic Year
                                </th>
                                <th>
                                    Paper Name
                                </th>

                                <th>
                                    remarks
                                </th>
                                <!-- <th class="actionTd1">
                                    Action
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let showScr of pageOfItems">
                                <td>{{showScr.STUDENT_NAME}}</td>
                                <td>{{showScr.REGISTRATION_NO}}</td>
                                <td>{{showScr.ROLL_NO}}</td>
                                <td>{{showScr.SEM}}</td>
                                <td>{{showScr.AY}}</td>
                                <td>{{showScr.PAPER_NAME}}</td>
                                <td>{{showScr.REMARKS}}</td>
                                <!-- <td>

                                    <p class="mb-0" *ngIf="showAy.STATUS==true; else elseBlock">
                                <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showAy,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                
                                <a href="#" class="activeBtn{{showAy.STATUS}}" (click)="actvinactv(showAy,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                  <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                  <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a>
                              </p>
                              <ng-template #elseBlock>
                                <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                
                                <a href="#" class="activeBtn{{showAy.STATUS}} ms-0" (click)="actvinactv(showAy,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                  <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                  <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                                </a>
  
                              </ng-template>

                                </td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md-6 pull-left">
                <jw-pagination [items]="showAcademicYear" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
              </div>
              <div class="col-md-6 pull-left text-right">
                <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
              </div> -->
              <div class="col-12 col-md-6 pull-left mb-2"> 
                <button (click)="onPreviousButtonClick()" class="paginationBtn" [disabled]="currentPage === 1"> << </button>
                
                <!-- Display a subset of pages -->
                <ng-container *ngFor="let page of getVisiblePages()">
                    <button (click)="onChangePage(page)" [class.active]="currentPage === page" class="paginationBtn">
                        {{ page }}
                    </button>
                </ng-container>
                
                <button (click)="onNextButtonClick()" class="paginationBtn" [disabled]="currentPage === totalPages"> >> </button>          
            </div>
            <div class="col-12 col-md-6 pull-left text-md-end"  *ngIf="ROLE_ID == 1">
                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
              </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<div *ngIf="loading" class="loadingSec">
  <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
</div>

  <!-- Add Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Scrutiny</h5>
          <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #getScrutinyForm="ngForm" (ngSubmit)="getScrutinyFormdata(getScrutinyForm.value)" novalidate enctype="multipart/form-data">
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">

                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Student Name <strong class="required"> *</strong> </label>  
                    <label class="form-control" for="">{{studentNm}}</label>   
                    <input type="hidden" name="studenT_ID" [(ngModel)]="studentId" class="form-control">
                  </div> 
                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Registration No. <strong class="required"> *</strong> </label>  
                    <label class="form-control" for="">{{regNo}}</label>   
                    <input type="hidden" name="registratioN_NO" [(ngModel)]="regNo" class="form-control">
                  </div> 

                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Academic Year <strong class="required"> *</strong> </label>  
                    <select required class="form-select" ngModel name="aY_ID" data-live-search="true" #aY_ID="ngModel">
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let acDropdwn of showAcademicYearTrue" [value]="acDropdwn.ID">{{acDropdwn.AY}}
                      </option>
                    </select>    
                    <div class="" *ngIf="aY_ID.touched && aY_ID.invalid">
                      <div class="alert alert-danger" *ngIf="aY_ID.errors?.required">
                        This field is required
                      </div>
                    </div>                 
                  </div> 
                 
                  
  
                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Semester <strong class="required"> *</strong> </label>  
                    <select required class="form-select" ngModel name="seM_ID" data-live-search="true" #SEM_ID="ngModel">
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let semDropdwn of showSem" [value]="semDropdwn.ID">{{semDropdwn.SEM}}
                      </option>
                    </select>     
                    <div class="" *ngIf="SEM_ID.touched && SEM_ID.invalid">
                      <div class="alert alert-danger" *ngIf="SEM_ID.errors?.required">
                        This field is required
                      </div>
                    </div>             
                  </div> 
                  
                   <div class="col-md-12 mt-3">                  
                    <label class="form-label">Paper <strong class="required"> *</strong> </label>  
                    <select required class="form-select" ngModel name="papeR_ID" #papeR_ID="ngModel">
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let showpaper of showpr" [value]="showpaper.ID">{{showpaper.PAPER_NAME}}</option>
                    </select>   
                    <div class="" *ngIf="papeR_ID.touched && papeR_ID.invalid">
                      <div class="alert alert-danger" *ngIf="papeR_ID.errors?.required">
                        This field is required
                      </div>
                    </div>                
                  </div> 

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Roll No.<strong class="required"> *</strong> </label>  
                    <input type="text" name="rolL_NO" ngModel required #rolL_NO="ngModel" class="form-control">
                    <div class="" *ngIf="rolL_NO.touched && rolL_NO.invalid">
                      <div class="alert alert-danger" *ngIf="rolL_NO.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="rolL_NO.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div> 

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Remarks<strong class="required"> *</strong> </label>  
                    <input type="text" name="remarks" ngModel required #remarks="ngModel" class="form-control">
                    <div class="" *ngIf="remarks.touched && remarks.invalid">
                      <div class="alert alert-danger" *ngIf="remarks.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="remarks.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                 
                 
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary" [disabled]="getScrutinyForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>