<p>timetable-schedular works!</p>


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Timetable Schedular</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <!-- <div class="col-sm-12">

            <form #serchTimetableform="ngForm" (ngSubmit)="serchTimetableformData(serchTimetableform.value)" novalidate >
              <div class="row mb-4">
                <div class="col-sm-2 pe-0">
                    <label class="form-label">From Date</label>
                    <input required type="date" name="fromdate" class="form-control" [(ngModel)]="fromdate"                    
                      #fmdateInput="ngModel" required (change)="validateDateRange()">      
                    <div *ngIf="fmdateInput.invalid && fmdateInput.touched">
                    </div>
                  </div>

                  <div class="col-sm-2 pe-0">
                    <label class="form-label">To Date</label>
                    <input required type="date" name="todate" class="form-control" [(ngModel)]="todate"
                      #todateInput="ngModel" required (change)="validateDateRange()">
                    <div *ngIf="todateInput.invalid && todateInput.touched">
                      <div *ngIf="toDateInvalid && (todateInput.dirty || todateInput.touched)">
                        To Date must be after From Date
                      </div>
                    </div>
                  </div>  

                  <div class="col-sm-2 pe-0 mt-1">
                    <button type="submit" class="btn btn-primary px-5 py-3 me-1 mt-4"
                      [disabled]="!serchTimetableform.form.valid || buttonDisabled">Search</button>
                  </div>
              </div>
            </form>

      </div> -->
      
        <div class="col-xl-12">
            <div class="tblMN table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Branch</th>       
                          <th> Academic Year</th>  
                         <th>Semester</th>  
                         <th>From Date</th>  
                         <th>To Date</th>  
                          <th class="actionTd1">
                              Action
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let showTimSchedular of pageOfItems">
                        <td>{{showTimSchedular.BRANCH_NAME}}</td>
                        <td>{{showTimSchedular.AY}}</td>
                        <td>{{showTimSchedular.SEM_NAME}}</td>
                        <td>{{showTimSchedular.FROMDATE | date:'dd-MM-yyyy'}}</td>
                        <td>{{showTimSchedular.TODATE | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <p class="mb-0" *ngIf="showTimSchedular.GENERATE_STATUS==true; else elseBlock">
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showTimSchedular,$event)"  data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a class="genrateBtn inactiveEdit" title="Generated" ><i class="fa fa-sign-in" aria-hidden="true"></i> Generate</a>

                              <!-- <a href="#" class="activeBtn{{showTimSchedular.GENERATE_STATUS}}" (click)="actvinactv(showTimSchedular,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                            </a> -->
                            </p>
                            <ng-template #elseBlock>
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showTimSchedular,$event)"  data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a class="genrateBtn" title="Click To Generate" (click)="generateBtn(showTimSchedular)"><i class="fa fa-sign-in" aria-hidden="true"></i> Generate</a>
                              
                              <!-- <a href="#" class="activeBtn{{showTimSchedular.GENERATE_STATUS}} ms-0" (click)="actvinactv(showTimSchedular,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a> -->

                            </ng-template>
                            
                        </td>
                      </tr>
                     
                    </tbody>
                  
                </table>
            </div>
            <div class="col-md-6 pull-left" *ngIf="showTimeSChedular.length > 0">
              <jw-pagination [items]="showTimeSChedular" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6 pull-left text-right" *ngIf="showTimeSChedular.length > 0">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div>
        </div>
      </div>
    </section>  

  </main><!-- End #main -->


  <div *ngIf="loading" class="loadingSec">
    <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
  </div>

  <!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Time Table Schedular</h5>
        <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #addTimetableform="ngForm" (ngSubmit)="addTimetableformdata(addTimetableform.value)" novalidate>
          <div class="modal-body">

            <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

            <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
              Saved Successfully.
            </div> 
            
              <div class="row">

                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Academic Year <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="AY_CODE" data-live-search="true" #AY_CODE="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let acDropdwn of showAcademicYearTrue" [value]="acDropdwn.ID">{{acDropdwn.AY}}
                    </option>
                  </select>                  
                </div> 

                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Branch <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
                    </option>
                  </select>                  
                </div> 

                
                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Semester <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let semDropdwn of showSem" [value]="semDropdwn.ID">{{semDropdwn.SEM}}</option>
                  </select>                  
                </div>
                
                <div class="col-md-12 mt-3">   
                    <label class="form-label">From Date <strong class="required"> *</strong> </label>
                    <input required type="date" name="fromdate" class="form-control" [(ngModel)]="fromdate"                    
                      #fmdateInput="ngModel" required (change)="validateDateRange()">      
                    <div *ngIf="fmdateInput.invalid && fmdateInput.touched">
                    </div>
                </div>

                  <div class="col-md-12 mt-3">   
                    <label class="form-label">To Date <strong class="required"> *</strong> </label>
                    <input required type="date" name="todate" class="form-control" [(ngModel)]="todate"
                      #todateInput="ngModel" required (change)="validateDateRange()">
                    <div *ngIf="todateInput.invalid && todateInput.touched">
                      <div *ngIf="toDateInvalid && (todateInput.dirty || todateInput.touched)">
                        To Date must be after From Date
                      </div>
                    </div>
                  </div> 
                
              </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
            <button class="btn btn-primary"  [disabled]="addTimetableform.invalid || isSubmit" >Submit</button>
          </div>
        </form>
   
      
   
      </div>
  </div>
</div>


  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Time Table Schedular</h5>
          <button type="button" #closeButton2 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #editTimetableform="ngForm" (ngSubmit)="editTimetableformdata(editTimetableform.value)" novalidate>
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="updateSuccessmessage" class="alert alert-success mt-3" role="alert">
                Update Successfully.
              </div> 
              
                <div class="row">
  
                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Academic Year <strong class="required"> *</strong> </label>  
                    <!-- <select class="form-select" ngModel name="AYCODE" data-live-search="true" #AYCODE="ngModel" [(ngModel)]="timeSchdulrUpdate.AYCODE" readonly>
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let acDropdwn of showAcademicYearTrue" [value]="acDropdwn.ID">{{acDropdwn.AY}}
                      </option>
                    </select>   -->

                    <input type="hidden" readonly name="AYCODE" class="form-control" ngModel #AYCODE="ngModel" [(ngModel)]="timeSchdulrUpdate.AYCODE">
                      <span class="form-control">{{timeSchdulrUpdate.AY}}</span>
                    <input type="hidden" name="ID" class="form-control" ngModel required #ID="ngModel" [(ngModel)]="timeSchdulrUpdate.ID">              
                  
                  </div> 
  
                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Branch <strong class="required"> *</strong> </label>  
                    <!-- <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel" [(ngModel)]="timeSchdulrUpdate.BRANCH_ID">
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
                      </option>
                    </select>   -->
                    <input type="hidden" readonly name="BRANCH_ID" class="form-control" ngModel required #BRANCH_ID="ngModel" [(ngModel)]="timeSchdulrUpdate.BRANCH_ID">
                    <span class="form-control">{{timeSchdulrUpdate.BRANCH_NAME}}</span>
                  </div> 
  
                  
                  <div class="col-md-12 mt-3">                  
                    <label class="form-label">Semester <strong class="required"> *</strong> </label>  
                    <!-- <select required class="form-select" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel" [(ngModel)]="timeSchdulrUpdate.SEM">
                      <option value="" disabled>Select One</option>
                      <option *ngFor="let semDropdwn of showSem" [value]="semDropdwn.ID">{{semDropdwn.SEM}}</option>
                    </select>   -->
                    <input type="hidden" readonly name="SEM" class="form-control" ngModel #SEM="ngModel" [(ngModel)]="timeSchdulrUpdate.SEM">
                    <span class="form-control">{{timeSchdulrUpdate.SEM_NAME}}</span>       
                  </div>
                  
                  <div class="col-md-12 mt-3">   
                      <label class="form-label">From Date <strong class="required"> *</strong> </label>
                      <!-- <input required type="date" name="FROMDATE" class="form-control" ngModel [(ngModel)]="timeSchdulrUpdate.FROMDATE"                   
                        #fmdateInput="ngModel" [value]="timeSchdulrUpdate.FROMDATE" required (change)="validateDateRange()" >   -->
                        
                        <input type="date" name="FROMDATE" class="form-control" ngModel required #FROMDATE="ngModel"
       [ngModel]="timeSchdulrUpdate.FROMDATE | date:'yyyy-MM-dd'" (ngModelChange)="timeSchdulrUpdate.FROMDATE = $event"
       (change)="validateDateRange()">

                      <div *ngIf="fmdateInput.invalid && fmdateInput.touched">
                      </div>
                  </div>
  
                    <div class="col-md-12 mt-3">   
                      <label class="form-label">To Date <strong class="required"> *</strong> </label>
                      <!-- <input required type="date" name="todate" class="form-control" ngModel [(ngModel)]="timeSchdulrUpdate.TODATE"   
                        #todateInput="ngModel" required (change)="validateDateRange()"> -->

                        <input type="date" name="TODATE" class="form-control" ngModel required #TODATE="ngModel"
                        [ngModel]="timeSchdulrUpdate.TODATE | date:'yyyy-MM-dd'" (ngModelChange)="timeSchdulrUpdate.TODATE = $event"
                        (change)="validateDateRange()">

                        <!-- <input type="date" name="TODATE" class="form-control" ngModel required #FROMDATE="ngModel"
                        [(ngModel)]="timeSchdulrUpdate.TODATE" [value]="timeSchdulrUpdate.TODATE"  (change)="validateDateRange()"> -->


                      <div *ngIf="todateInput.invalid && todateInput.touched">
                        <div *ngIf="toDateInvalid && (todateInput.dirty || todateInput.touched)">
                          To Date must be after From Date
                        </div>
                      </div>
                    </div> 
                  
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="editTimetableform.invalid || isSubmit" >Submit</button>
            </div>
          </form>
        </div>
    </div>
  </div>


  <!-- status -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
              <button type="button" #closeButton3 class="btn-cls" data-bs-dismiss="modal"
                  aria-label="Close">x</button>
          </div>


          <form #statusTimetableform="ngForm" (ngSubmit)="statusTimetableformData()">
              <div class="modal-body text-center">
                  <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
                      Update Successfully.
                  </div>
                  <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
                  <div class="form-group mt-3 statusClass d-none">
                      <label class="btn btn-toggle active">
                          <input type="hidden" class="form-control" name="ID" [(ngModel)]="timeSchdulrUpdate.ID"
                              [value]="timeSchdulrUpdate.ID">
                          <input type="radio" [(ngModel)]="timeSchdulrUpdate.GENERATE_STATUS" name="GENERATE_STATUS" [value]="true"> Active
                      </label>
                      <label class="btn btn-toggle active">
                          <input type="radio" [(ngModel)]="timeSchdulrUpdate.GENERATE_STATUS" name="GENERATE_STATUS" [value]="false">
                          Inactive

                      </label>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button class="btn btn-primary" [disabled]="statusTimetableform.invalid ">Yes</button>
              </div>
          </form>



      </div>
  </div>
</div>
