<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Doubts</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">
  
            <div class="tblMN table-responsive text-nowrap">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Topic Name</th> 
                      <th *ngIf="ROLE_ID==2">Instructor Name</th> 
                      <th *ngIf="ROLE_ID==3">Student Name</th> 
                      <th>Question</th>    
                       <!-- <th>
                         Question Added By
                      </th>  -->
                       <th>Answer</th>     
                       <!-- <th>
                        Answer Added By
                     </th>  -->
                                                      
                        <th class="actionTd1">
                            Action
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let showdb of pageOfItems">
                      <td>{{showdb.TOPIC_NAME}}</td>
                      <td *ngIf="ROLE_ID==2">{{showdb.INSTRUCTURE_NAME}}</td>
                      <td *ngIf="ROLE_ID==3">{{showdb.QUESTION_ADDEDBY}}</td>
                      <td>{{showdb.QUESTION}}</td>
                      <!-- <td>{{showdb.QUESTION_ADDEDBY}}</td> -->
                      <td>{{showdb.ANSWARE}}</td>
                      <!-- <td>{{showdb.ANSWARE_ADDEDBY}}</td> -->
                      <td>  
                        <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showdb,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <!-- <p class="mb-0" *ngIf="showdb.STATUS==true; else elseBlock">
                            <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showdb,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            
                            <a href="#" class="activeBtn{{showdb.STATUS}}" (click)="actvinactv(showdb,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                              <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                              <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                          </p>
                          <ng-template #elseBlock>
                            <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            
                            <a href="#" class="activeBtn{{showdb.STATUS}}" (click)="actvinactv(showdb,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                              <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                              <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                            </a>
  
                          </ng-template> -->
                          
                      </td>
                    </tr>
                   
                  </tbody>
              </table>
          </div>

          <div class="row">
            <div class="col-md-6">
              <jw-pagination [items]="showdbt" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6" *ngIf="ROLE_ID == 2">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add</a>
            </div> 
          </div>

          
          
          </div>

        </div>
      </section>  
</main><!-- End #main -->

  <!-- Add Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Doubt</h5>
          <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #getDoubtForm="ngForm" (ngSubmit)="getDoubtFormdata(getDoubtForm.value)" novalidate>
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Paper<strong class="required"> *</strong> </label> 
  
                    <!-- <input type="text" name="TOPIC_NAME" class="form-control" ngModel required #TOPIC_NAME="ngModel" pattern="^[^\s].*[^\s]$" placeholder="e.g: UG">  -->
                    
                    <!-- <select class="form-select" ngModel name="PAPER_ID" data-live-search="true" required #PAPER_ID="ngModel">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let showPr of showppr" [value]="showPr.ID">
                        {{showPr.PAPER_NAME}}
                      </option>
                    </select> -->

                    <!-- <select class="form-select" [(ngModel)]="selectedPaper" name="PAPER_ID"  data-live-search="true" required #PAPER_ID="ngModel" change="onChangepaper()">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let showPr of showppr" [value]="showPr.ID">
                        {{showPr.PAPER_NAME}}
                      </option>
                    </select> -->

                    <select class="form-select" [(ngModel)]="selectedPaper" name="PAPER_ID" data-live-search="true" required #PAPER_ID="ngModel" (change)="onChangepaper()">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let showPr of showppr" [value]="showPr.ID">
                        {{showPr.PAPER_NAME}}
                      </option>
                    </select>


                    <div class="alert alert-danger" *ngIf="PAPER_ID.touched && PAPER_ID.invalid">
                      <div class="" *ngIf="PAPER_ID.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="PAPER_ID.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div>
  
  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Topic<strong class="required"> *</strong> </label> 
  
                    <!-- <input type="text" name="TOPIC_NAME" class="form-control" ngModel required #TOPIC_NAME="ngModel" pattern="^[^\s].*[^\s]$" placeholder="e.g: UG">  -->
                    <!-- <select class="form-select" ngModel name="TOPIC_ID" data-live-search="true" required #TOPIC_ID="ngModel">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let showTpc of showTopc" [value]="showTpc.ID">
                        {{showTpc.TOPIC_NAME}}
                      </option>
                    </select> -->


                    <select class="form-select" [(ngModel)]="selectedTopic" name="TOPIC_ID" data-live-search="true" required #TOPIC_ID="ngModel">
                      <option value="">-- Select One --</option>
                      <ng-container *ngFor="let showTpc of showTopc">
                        <ng-container *ngIf="showTpc.CHAPTER && showTpc.CHAPTER.length > 0">
                          <!-- If there are chapters, display them -->
                          <ng-container *ngFor="let chapter of showTpc.CHAPTER">
                            <ng-container *ngIf="chapter.TOPIC && chapter.TOPIC.length > 0">
                              <!-- If there are topics, display them -->
                              <ng-container *ngFor="let topic of chapter.TOPIC">
                                <option [value]="topic.ID">{{topic.TOPIC_NAME}}</option>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!(showTpc.CHAPTER && showTpc.CHAPTER.length > 0)">
                          <!-- If there are no chapters, display the topic directly -->
                          <option [value]="showTpc.ID">{{showTpc.TOPIC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </select>
                    
                  


                    <div class="alert alert-danger" *ngIf="TOPIC_ID.touched && TOPIC_ID.invalid">
                      <div class="" *ngIf="TOPIC_ID.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="TOPIC_ID.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Instructor<strong class="required"> *</strong> </label> 
  
                    <!-- <input type="text" name="INSTRUCTURE_NAME" class="form-control" ngModel required #INSTRUCTURE_NAME="ngModel" pattern="^[^\s].*[^\s]$" placeholder="e.g: UG">  -->
                    
                    <select class="form-select" ngModel name="INSTRUCTURE_ID" data-live-search="true" required #INSTRUCTURE_ID="ngModel">
                      <option value="">-- Select One --</option>
                      <option *ngFor="let showin of showIns" [value]="showin.ID">
                        {{showin.NAME}}
                      </option>
                    </select>
                    
                    <div class="alert alert-danger" *ngIf="INSTRUCTURE_ID.touched && INSTRUCTURE_ID.invalid">
                      <div class="" *ngIf="INSTRUCTURE_ID.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="INSTRUCTURE_ID.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div>
                  <div class="col-md-12 mt-3" *ngIf="ROLE_ID != 1">
                    <label class="form-label">Question<strong class="required"> *</strong> </label> 
  
                    <input type="text" name="QUESTION" class="form-control" ngModel required #QUESTION="ngModel" pattern="^[^\s].*[^\s]$"> 
                    <div class="alert alert-danger" *ngIf="QUESTION.touched && QUESTION.invalid">
                      <div class="" *ngIf="QUESTION.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="QUESTION.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div> 
                  <!-- <div class="col-md-12 mt-3">
                    <label class="form-label">Answer<strong class="required"> *</strong> </label> 
  
                    <input type="text" name="ANSWARE" class="form-control" ngModel required #ANSWARE="ngModel" pattern="^[^\s].*[^\s]$"  [disabled]="ROLE_ID != 1"> 
                    <div class="alert alert-danger" *ngIf="ANSWARE.touched && ANSWARE.invalid">
                      <div class="" *ngIf="ANSWARE.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="ANSWARE.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div> -->
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Upload Document </label>  
                    <input type="file" #fileInput class="form-control" (change)="onFileSelected($event)">
                  </div>
                       
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="getDoubtForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>


   <!-- Edit Modal -->
   <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Doubt</h5>
          <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #editDoubtForm="ngForm" (ngSubmit)="editDoubtFormdata(editDoubtForm.value)" novalidate>
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">
  
  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Topic<strong class="required"> *</strong> </label> 
  
                    <input type="hidden" class="form-control" [(ngModel)]="doubtsUpdate.ID" name="ID" [value]="doubtsUpdate.ID">  
                  <!-- <select class="form-select" aria-readonly="true" ngModel name="TOPIC_ID" data-live-search="true" #TOPIC_ID="ngModel" [(ngModel)]="doubtsUpdate.TOPIC_ID">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let showTpc of showTopc" [value]="showTpc.ID">
                      {{showTpc.TOPIC_NAME}}
                    </option>
                  </select>  -->

                  <input type="hidden"  class="form-control" name="TOPIC_ID"  pattern="^[^\s].*[^\s]$" #TOPIC_ID="ngModel" [(ngModel)]="doubtsUpdate.TOPIC_ID" [value]="doubtsUpdate.TOPIC_ID">
                  <span class="showTxtVal">{{doubtsUpdate.TOPIC_NAME}}</span> 
                  <input type="hidden" class="form-control" name="INSTRUCTURE_ID"  pattern="^[^\s].*[^\s]$" #INSTRUCTURE_ID="ngModel" [(ngModel)]="doubtsUpdate.INSTRUCTURE_ID" [value]="doubtsUpdate.INSTRUCTURE_ID">

                    <!-- <div class="alert alert-danger" *ngIf="TOPIC_ID.touched && TOPIC_ID.invalid">
                      <div class="" *ngIf="TOPIC_ID.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="TOPIC_ID.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                   -->
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Instructor </label> 
                    <input type="hidden" class="form-control" name="INSTRUCTURE_ID"  pattern="^[^\s].*[^\s]$" #INSTRUCTURE_ID="ngModel" [(ngModel)]="doubtsUpdate.INSTRUCTURE_ID" [value]="doubtsUpdate.INSTRUCTURE_ID">
                    
                    <span class="showTxtVal">{{ doubtsUpdate?.INSTRUCTURE_NAME }}</span> 
                  </div>
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Question</label> 
  
                    <input *ngIf="ROLE_ID == 2" type="text" class="form-control" name="QUESTION"  pattern="^[^\s].*[^\s]$" #QUESTION="ngModel" [(ngModel)]="doubtsUpdate.QUESTION" [value]="doubtsUpdate.QUESTION">                
                    <input *ngIf="ROLE_ID != 2" type="hidden" class="form-control" name="QUESTION"  pattern="^[^\s].*[^\s]$" #QUESTION="ngModel" [(ngModel)]="doubtsUpdate.QUESTION" [value]="doubtsUpdate.QUESTION">                
                    <span class="showTxtVal" *ngIf="ROLE_ID != 2">{{doubtsUpdate.QUESTION}}</span> 
                    
                  </div> 


                  <div class="col-md-12 mt-3">
                    <label class="form-label" *ngIf="ROLE_ID != 3 && doubtsUpdate.ANSWARE && doubtsUpdate.ANSWARE.length > 1">Answer<strong class="required"> *</strong> </label> 
                    <label class="form-label" *ngIf="ROLE_ID == 3">Answer<strong class="required"> *</strong> </label> 
                    <input *ngIf="ROLE_ID == 3" type="text" class="form-control" name="ANSWARE"  pattern="^[^\s].*[^\s]$" #ANSWARE="ngModel" [(ngModel)]="doubtsUpdate.ANSWARE" [value]="doubtsUpdate.ANSWARE">
                    <input *ngIf="ROLE_ID != 3" type="hidden" class="form-control" name="ANSWARE"  pattern="^[^\s].*[^\s]$" #ANSWARE="ngModel" [(ngModel)]="doubtsUpdate.ANSWARE" [value]="doubtsUpdate.ANSWARE">
                    <span class="showTxtVal" *ngIf="ROLE_ID != 3 && doubtsUpdate.ANSWARE && doubtsUpdate.ANSWARE.length > 1">{{doubtsUpdate.ANSWARE}}</span> 
                    <!-- <div class="alert alert-danger" *ngIf="ANSWARE.touched && ANSWARE.invalid">
                      <div class="" *ngIf="ANSWARE.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="ANSWARE.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                   -->
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Upload Document<strong class="required"> *</strong> </label>  
                    <input type="file" #fileInput class="form-control" (change)="onFileSelected2($event)" [(ngModel)]="doubtsUpdate.DOUBT_DOCUMENT_PATH">  
                    <!-- <input type="file" #fileInput class="form-control mb-2" (change)="onFileSelected($event)" [(ngModel)]="assignmentUpdate.ASSIGNMENT_DOCUMENT">      -->
                    <a href="{{linkurl}}{{doubtsUpdate.DOUBT_DOCUMENT_PATH}}" class="mt-2" target="_blank" download>View Selected Document</a>
                  </div>
                       
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>    

              <button *ngIf="ROLE_ID!=1" class="btn btn-primary"  >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>


<app-footer></app-footer>