.btn-alignment{
    float: right
}

.text-success {
    color: green;
    font-weight: bold;
}

.text-danger {
    color: red;
    font-weight: bold;
}

.text-warning{
    color: orange;
    font-weight: bold;
}