<main id="main" class="main">

    <div class="pagetitle">
      <h1>Notice Event</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">
  
            <div class="tblMN table-responsive text-nowrap">
  
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        TITLE                    
                      </th> 
                        <th>
                            DETAILS
                        </th>   
                        <th>
                            Date
                        </th>                                                       
                        <th class="actionTd1">
                            Action
                        </th>
                    </tr>
                </thead>
                  <tbody>
                    <tr  *ngFor="let showNtEv of pageOfItems">
                      <td>  {{showNtEv.TITLE}} </td>
                      <td> 
                        {{showNtEv.DETAILS}}
                      </td>
                      <td> 
                        {{showNtEv.FROMDATE | date:'dd-MM-yyyy'}}
                      </td>   
                      <td>
                        <!-- <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showAsgn,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
  
                      </td>
                    </tr>                   
                  </tbody>
              </table>
          </div>
          <div class="row">
            <div class="col-md-6">
              <jw-pagination [items]="showNoteEvnt" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div> 
          </div>
                   
          
          </div>
        </div>
      </section> 

</main>
