<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Course Content</h1>
    </div><!-- End Page Title -->
    
    <section class="section mainBodySec profile">
        <div class="row">

            <div class="col-xl-12">
            <div class="accordion" id="accordionExample">

                <div class="accordion-item" *ngFor="let course of showCourseContent; let i = index">
                    <div *ngFor="let paper of course.ViewPaperDetail; let j = index"> <!-- Use a different index variable for paper -->
                      <h2 class="accordion-header" [id]="'heading' + i + j"> <!-- Combine both i and j for a unique ID -->
                        <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse' + i + j"
                          [attr.aria-expanded]="i === 0 && j === 0 ? 'true' : 'false'" [attr.aria-controls]="'collapse' + i + j">
                          {{ paper.PAPER_NAME }}
                        </button>
                      </h2>
                      <div [id]="'collapse' + i + j" class="accordion-collapse collapse" [ngClass]="{'show': i === 0 && j === 0}" [attr.aria-labelledby]="'heading' + i + j"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul class="list-group">
                            <li *ngFor="let chapter of paper.ViewPaperWiseChapterDetail">
                              <ul>
                                <li class="list-group-item ps-3 active">{{ chapter.CHAPTER_NAME }}</li>
                                <li>
                                  <ul>
                                    <li class="list-group-item" *ngFor="let topic of chapter.ViewChapterWiseTopicDetail; let k = index">
                                      <div class="d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                          {{ topic.TOPIC_NAME }}
                                        </div>
                                        <!-- <a data-bs-toggle="modal" data-bs-target="#htmlViewerModal" class="badge bg-primary p-2"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> -->
                                       
                                        <!-- <a href="{{linkurl}}{{topic.CONTENT_PATH}}" target="_blank" class="badge bg-primary p-2"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> -->
                                      
                                        <!-- <a (click)="openPdfInIframe(linkurl + topic.CONTENT_PATH)" class="badge bg-primary p-2" data-bs-target="#htmlViewerModal">
                                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        </a> -->

                                        <a href="javascript:void()" (click)="openPdfInIframe(linkurl + topic.CONTENT_PATH)" class="badge">
                                          <i class="fa fa-file" aria-hidden="true"></i> OPEN
                                        </a>

                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            
            </div>
          </div>
        </div>
      </section>

    <!-- Your modal with iframe -->
    <div class="modal fade" #htmlViewerModal id="htmlViewerModal" tabindex="-1" aria-labelledby="htmlViewerModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg"> <!-- Adjust size as needed -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="htmlViewerModalLabel">COntent</h5>
            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-cls">x</button>
          </div>
          <div class="modal-body">
            <!-- Dynamically create an iframe -->
            <iframe #pdfIframe width="100%" height="500px" frameborder="0"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="expandPdf()">Expand</button>
          </div>
        </div>
      </div>
    </div>



      
</main><!-- End #main -->

<app-footer></app-footer>