<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
  </div><!-- End Page Title -->

  <section class="section mainBodySec profile dashboard">
    <div class="row align-items-top">

      <div class="col-lg-6" *ngIf="ROLE_ID != 4">
        <div class="col-lg-12">

          <!-- Default Card -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <strong>NOTICE </strong> </h5>
              <div class="marquee-container">
                <ul class="list-group notice-group mt-4">

                  <li class="list-group-item d-flex justify-content-between align-items-start" style="padding: 16px;"
                    *ngFor="let showNtEv of showNoteEvnt">

                    <div class="col-sm-12">
                      <div class="fw-bold col-sm-10 mb-1">
                        {{showNtEv.TITLE}}
                        <img src="assets/images/new-star.gif" *ngIf="showNtEv.NEWFLAG === true" alt=""
                          style="width:40px">
                      </div>
                      <div class="col-sm-12 cardDetail">
                        {{showNtEv.DETAILS}}
                      </div>
                      <span class="badge bg-primary rounded-pill cardDate">{{showNtEv.FROMDATE | date:'dd-MM-yyyy'}}</span>
                      <a target="_blank" href="{{linkurl}}{{showNtEv.FILEPATH}}" *ngIf="!showNtEv.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
                      
                    </div>
                    
                  </li>

                </ul>
              </div>
            </div>
          </div><!-- End Default Card -->

        </div><!-- End Default Card -->
      </div>
      <div class="col-lg-6" *ngIf="ROLE_ID != 2 && ROLE_ID != 4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>SCHOLARSHIP </strong> <a href="#" *ngIf="showScholar.length > 2" data-bs-toggle="modal" data-bs-target="#moreScolarModal" class="pull-right">SEE MORE</a></h5>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start"
                *ngFor="let showSclr of showScholar.slice(0, 2)">
                <div class="ms-2 me-auto col-sm-12">
                  <div class="fw-bold mb-1">
                    <a class="titleLink" href="{{showSclr.DETAILS}}" target="_blank">{{showSclr.TITLE}}</a>
                    </div>
                    <a target="_blank" href="{{linkurl}}{{showSclr.FILEPATH}}" *ngIf="!showSclr.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
                  <!-- <div class="cardDetail">
                    {{showSclr.DETAILS}}
                  </div>                    -->
                </div>
                
                <!-- <span class="badge bg-primary rounded-pill">{{showSclr.FROMDATE | date:'dd-MM-yyyy'}}</span> -->
              </li>
            </ol>
          </div>
        </div><!-- End Default Card -->
        <div class="col-lg-12" *ngIf="ROLE_ID != 2 && ROLE_ID != 4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>EVENTS  </strong> <a href="#" *ngIf="swvnt.length > 2" data-bs-toggle="modal" data-bs-target="#moreEventModal" class="pull-right">SEE MORE</a></h5>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let showEvnt of swvnt.slice(0, 2)">
                  <div class="ms-2 me-auto col-sm-12">
                    <div class="fw-bold col-sm-10">{{showEvnt.TITLE}}</div>
                    <div class="col-sm-12">{{showEvnt.DETAILS}}</div>
                    <a target="_blank" href="{{linkurl}}{{showEvnt.FILEPATH}}" *ngIf="!showEvnt.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
                  </div>
                  <span class="badge bg-primary rounded-pill cardDate">{{showEvnt.FROMDATE | date:'dd-MM-yyyy'}}</span>
                 
                 
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Closing of Central Library</div>
                        Event for closing of Central Library during Puja Vacation ByNotice (MCA)	
                      </div>
                      <span class="badge bg-primary rounded-pill">28/03/2024</span>
                    </li> -->
              </ol>
            </div>
          </div><!-- End Default Card -->
        </div>
      </div>
      
      <div class="col-lg-6" *ngIf="ROLE_ID == 2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong> ATTENDANCE STATUS</strong></h5>
  
            <canvas id="myChart" width="400" height="286"></canvas>
  
            <span class="graphTotalClass"> TOTAL CLASSES <br> <strong>{{this.showAtnd[0].Total_Classes}}</strong> </span>
  
          </div>
        </div>
      </div>

      <div class="col-lg-6" *ngIf="ROLE_ID == 2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>SCHOLARSHIP  </strong> <a href="#" *ngIf="showScholar.length > 2" data-bs-toggle="modal" data-bs-target="#moreScolarModal" class="pull-right">SEE MORE</a></h5>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start"
              *ngFor="let showSclr of showScholar.slice(0, 2)">
              <div class="ms-2 me-auto col-sm-12">
                <div class="fw-bold mb-1">
                  <a class="titleLink" href="{{showSclr.DETAILS}}" target="_blank">{{showSclr.TITLE}}</a>
                  </div>
                <!-- {{showSclr.DETAILS}} -->
                <a target="_blank" href="{{linkurl}}{{showSclr.FILEPATH}}" *ngIf="!showSclr.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
              </div>
              
              <!-- <span class="badge bg-primary rounded-pill">{{showSclr.FROMDATE | date:'dd-MM-yyyy'}}</span> -->
            </li>
          </ol>
        </div>
      </div><!-- End Default Card -->
</div>

      <div class="col-lg-6" *ngIf="ROLE_ID == 2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>EVENTS  </strong> <a href="#" *ngIf="swvnt.length > 2" data-bs-toggle="modal" data-bs-target="#moreEventModal" class="pull-right">SEE MORE</a></h5>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let showEvnt of swvnt.slice(0, 2)">
                <div class="col-sm-12">
                  <div class="fw-bold col-sm-10">{{showEvnt.TITLE}}</div>
                  <div class="col-sm-12 mt-2 cardDetail">{{showEvnt.DETAILS}}</div>
                  <a target="_blank" href="{{linkurl}}{{showEvnt.FILEPATH}}" *ngIf="!showEvnt.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
              
                  <span class="badge bg-primary rounded-pill cardDate">{{showEvnt.FROMDATE | date:'dd-MM-yyyy'}}</span>
                </div>
                
              </li>
              <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">Closing of Central Library</div>
                      Event for closing of Central Library during Puja Vacation ByNotice (MCA)	
                    </div>
                    <span class="badge bg-primary rounded-pill">28/03/2024</span>
                  </li> -->
            </ol>
          </div>
        </div><!-- End Default Card -->
      </div>

    
    <!-- MIS start -->


      <div class="col-xxl-4 col-md-6" *ngIf="ROLE_ID == 4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">  Fees Collection <span> | Today</span>  <a href="#" class="pull-right linkIcon"><i class="fa fa-share-square-o" aria-hidden="true"></i></a> </h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa fa-inr"></i>
              </div>
              <div class="ps-3">
                <h6>{{showFeesc}}</h6>
                <span class="text-muted small pt-2 ps-1">Fees Collection...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="col-xxl-4 col-md-6" *ngIf="ROLE_ID == 4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">  Total Student <a href="#" class="pull-right linkIcon"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa fa-users"></i>
              </div>
              <div class="ps-3">
                <h6>{{showStudnt}}</h6>
                <span class="text-muted small pt-2 ps-1">Student Count...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-md-6" *ngIf="ROLE_ID == 4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">  Total Faculty <a href="#" class="pull-right linkIcon"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></h5>
            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="fa fa-user"></i>
              </div>
              <div class="ps-3">
                <h6>{{showInstrctr}}</h6>
                <span class="text-muted small pt-2 ps-1">Faculty Count...</span>
              </div>
            </div>
          </div>
        </div>
      </div>



 <!-- MIS End -->
    

     
    </div>


  </section>




  <!-- Scholarship Modal -->

<div class="modal fade" id="moreScolarModal" tabindex="-1" aria-labelledby="moreScolarModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SCHOLARSHIP</h5>
        <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <div class="modal-body">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start"
            *ngFor="let showSclr of showScholar">
            <div class="ms-2 me-auto">
              <div class="fw-bold col-sm-12">
                <a class="titleLink" href="{{showSclr.DETAILS}}" target="_blank">{{showSclr.TITLE}}</a>
                 </div>
                <div class="col-sm-12">
                  <a target="_blank" href="{{linkurl}}{{showSclr.FILEPATH}}" *ngIf="!showSclr.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
                  </div>
              <!-- {{showSclr.DETAILS}} -->
            </div>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary py-2" data-bs-dismiss="modal">Close</button> 
      </div>
      
      </div>
  </div>
</div>


  <!-- Event Modal -->

  <div class="modal fade" id="moreEventModal" tabindex="-1" aria-labelledby="moreEventModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">EVENTS</h5>
          <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <div class="modal-body">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let showEvnt of swvnt">
              <div class="ms-2 me-auto col-sm-12">
                <div class="fw-bold col-sm-10">{{showEvnt.TITLE}}</div>
                <div class="col-sm-12 cardDetail">{{showEvnt.DETAILS}}</div>
                <a target="_blank" href="{{linkurl}}{{showEvnt.FILEPATH}}" *ngIf="!showEvnt.FILEPATH.endsWith('/')" class="viewDoc"><i class="fa fa-eye" aria-hidden="true"> </i> Document </a>
                
                <span class="badge bg-primary rounded-pill cardDate">{{showEvnt.FROMDATE | date:'dd-MM-yyyy'}}</span>
              </div>
              
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Closing of Central Library</div>
                    Event for closing of Central Library during Puja Vacation ByNotice (MCA)	
                  </div>
                  <span class="badge bg-primary rounded-pill">28/03/2024</span>
                </li> -->
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary py-2" data-bs-dismiss="modal">Close</button> 
        </div>
        
        </div>
    </div>
  </div>



</main><!-- End #main -->