

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Fees Structure</h1>
    </div><!-- End Page Title -->



      <section class="section mainBodySec">
        <form #searchFeeStrucForm="ngForm" (ngSubmit)="searchFeeStrucFormdata(searchFeeStrucForm.value)" novalidate>
            <div class="row">
                <div class="col-sm-4 mb-4 pe-0">
                    <!-- <label class="form-label"> College <strong class="required"> *</strong> </label>   -->
                    <select required class="form-select" ngModel name="COLLEGE_ID" data-live-search="true" #COLLEGE_ID="ngModel">
                        <option value="" disabled>Select College</option>
                        <option *ngFor="let shoclg of showCollegeType" [value]="shoclg.ID">{{shoclg.COLLEGE_NAME}}</option>
                    </select>
                    
                </div>
                <div class="col-sm-4 mb-4 pe-0">
                    <!-- <label class="form-label"> Branch <strong class="required"> *</strong> </label>   -->
                    <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel">
                        <option value="" disabled>Select Branch</option>
                        <option *ngFor="let shoclg of showBranch" [value]="shoclg.ID">{{shoclg.BRANCH_NAME}}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-4 pe-0">
                    <!-- <label class="form-label"> Sem <strong class="required"> *</strong> </label>   -->
                    <select required class="form-select me-4" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel">
                        <option value="" disabled>Select Semester</option>
                        <option *ngFor="let shosm of showSem" [value]="shosm.ID">{{shosm.SEM}}</option>
                    </select>             
                </div>
                <div class="col-sm-4 mb-4 pe-0">
                    <!-- <label class="form-label"> Payment Type <strong class="required"> *</strong> </label>  -->
                    <select required class="form-select me-4" ngModel name="PAYMENT_TYPE_ID" data-live-search="true" #PAYMENT_TYPE_ID="ngModel">
                        <option value="" disabled>Select Payment Type</option>
                        <option *ngFor="let showpt of showpaymntyp" [value]="showpt.ID">{{showpt.PAYMENT_TYPE_NAME}}</option>
                    </select>           
                </div>
                <div class="col-sm-4 mb-4 pe-0">
                    <!-- <label class="form-label"> Academic Year <strong class="required"> *</strong> </label>  -->
                        <select required class="form-select me-4" ngModel name="AY_ID" data-live-search="true" #AY_ID="ngModel">
                            <option value="" disabled>Select Academic Year</option>
                            <option *ngFor="let shoac of showAcademicYear" [value]="shoac.ID">{{shoac.AY}}</option>
                        </select>          
                </div>
                <div class="col-sm-4 pe-0">                      
                        <!-- <button class="btn btn-primary mt-33 px-4 py-3">Search</button>   -->
                        <button class="btn btn-primary px-5 py-3 me-1" [disabled]="searchFeeStrucForm.invalid || isSubmit">Search</button> 
                        <button class="btn btn-primary px-5 py-3" [disabled]="searchFeeStrucForm.invalid" type="button"  (click)="resetFormValue()">Reset</button>         
                </div>
            </div>
            
        </form>
       

        <div class="row">
            <div class="col-xl-12">    
              <div class="tblMN table-responsive text-nowrap">

                <table class="table table-striped text-center">
                    <thead>
                      <tr>
                        <th>College</th>
                        <th>Branch</th>
                        <th>AY</th>
                        <th>Sem</th>
                        <th>Payment Type</th>
                        <th style="width: 200px;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        <tr *ngFor="let feest of pageOfItems">
                            <td>{{feest.COLLEGE_NAME}}</td>
                            <td>{{feest.BRANCH_NAME}}</td>
                            <td>{{feest.AY}}</td>
                            <td>{{feest.SEM_NAME}}</td>
                            <td>{{feest.PAYMENT_TYPE_NAME}}</td>                            
                            <td><a class="btn btn-primary viewBtnFeesstruc  px-3 py-2" title="Edit" data-bs-toggle="modal" (click)="editBtn(feest,$event)" data-bs-target="#editModal">View Details</a></td>
                        </tr>
                     
                    </tbody>
                </table>                
            </div>           
           
            

            <div class="col-md-6 pull-left">
              <ng-container *ngIf="searchFeesStrc && searchFeesStrc.length > 0; else showFeesPagination">
                <jw-pagination [items]="searchFeesStrc" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>              
              </ng-container>
              
              <ng-template #showFeesPagination>
                <jw-pagination [items]="showFeesStrc" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
              </ng-template>
              </div>
              <div class="col-md-6 pull-left text-right">
                <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add</a>
              </div>
          </div>
        </div>
      </section>
</main>

<div *ngIf="loading" class="loadingSec">
  <img src="assets/images/loading-gif.gif" alt="Image" class="loading"/>            
</div>

<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Payment Type</h5>
                <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <form #getFeeStrucForm="ngForm" (ngSubmit)="getFeeStrucFormdata(getFeeStrucForm.value,formDataSet)" novalidate>
                <div class="modal-body">

                    <small class="mandatoryFld"> <strong>*</strong> Mandatory field</small>

                    <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                        Saved Successfully.
                    </div>

                    <div class="row">

                        <div class="col-md-12 mt-3">
                            <label class="form-label"> Select College <strong class="required"> *</strong> </label>  
                            <select required class="form-select" ngModel name="COLLEGE_ID" data-live-search="true" #COLLEGE_ID="ngModel">
                                <option value="" disabled>Select One</option>
                                <option *ngFor="let shoclg of showCollegeType" [value]="shoclg.ID">{{shoclg.COLLEGE_NAME}}</option>
                            </select>
                            
                           
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label"> Select Branch <strong class="required"> *</strong> </label>  
                            <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel">
                                <option value="" disabled>Select One</option>
                                <option *ngFor="let shoclg of showBranch" [value]="shoclg.ID">{{shoclg.BRANCH_NAME}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label"> Select Sem <strong class="required"> *</strong> </label>  
                            <select required class="form-select me-4" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel">
                                <option value="" disabled>Select One</option>
                                <option *ngFor="let shosm of showSem" [value]="shosm.ID">{{shosm.SEM}}</option>
                            </select>             
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label"> Select Payment Type <strong class="required"> *</strong> </label> 
                            <select required class="form-select me-4" ngModel name="PAYMENT_TYPE_ID" data-live-search="true" #PAYMENT_TYPE_ID="ngModel">
                                <option value="" disabled>Select One</option>
                                <option *ngFor="let showpt of showpaymntyp" [value]="showpt.ID">{{showpt.PAYMENT_TYPE_NAME}}</option>
                            </select>           
                        </div>
                        <div class="col-md-12 mt-3">
                            <label class="form-label"> Select Academic Year <strong class="required"> *</strong> </label> 
                                <select required class="form-select me-4" ngModel name="AY_ID" data-live-search="true" #AY_ID="ngModel">
                                    <option value="" disabled>Select One</option>
                                    <option *ngFor="let shoac of showAcademicYear" [value]="shoac.ID">{{shoac.AY}}</option>
                                </select>          
                        </div>
                       
                      

                        <div class="col-md-12 mt-3">
                            <table class="table table-striped inputSet">
                              <tr>
                                <th class="text-center py-2" style="width: 200px;">Fees Type</th>
                                <th class="text-center py-2">Generel</th>
                                <th class="text-center py-2">SC</th>
                                <th class="text-center py-2">ST</th>
                                <th class="text-center py-2">OBC</th>
                                <th class="text-center py-2">PWD</th>
                                <th class="text-center py-2">EWS</th>
                                <th class="text-center py-2"></th>
                              </tr>
                              
                              <tr *ngFor="let formData of formDataSet; let i = index">
                              
                                <td>
                                  <select required class="form-select me-4" [(ngModel)]="formData.LEDGER_ID"  data-live-search="true"  [name]="'LEDGER_ID' + i">
                                    <option value="" disabled>Select One</option>
                                    <option *ngFor="let showLd of showLedger" [value]="showLd.ID">{{showLd.LEDGER_NAME}}</option>
                                  </select>
                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_GEN" required min="1" [name]="'FEES_GEN_' + i">  

                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_SC" required min="1" [name]="'FEES_SC' + i">
                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_ST" required min="1" [name]="'FEES_ST' + i">
                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_OBC" required min="1" [name]="'FEES_OBC' + i">
                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_PWD" required min="1" [name]="'FEES_PWD' + i">
                                </td>
                                <td>
                                  <input type="number" class="form-control" [(ngModel)]="formData.FEES_EWS" required min="1" [name]="'FEES_EWS' + i">
                                </td>
                                <td>
                                  <ng-container *ngIf="i > 0"> <!-- Skip the first iteration (i=0) -->
                                  <button (click)="removeSet(i)" class="btn btn-danger">X</button>
                                </ng-container>
                                </td>
                              
                              </tr>
                              
                              
                            </table>
                            <button (click)="addSet()" type="button" class="btn btn-primary w-auto">Add Fees Type</button>
                          </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" [disabled]="getFeeStrucForm.invalid || isSubmit">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>





<!-- Details Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Deatils</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <div class="modal-body">
      <div class="row">
              
        <div class="col-md-6 mb-3">
          <strong>College : </strong> {{feeStrucUpdate.COLLEGE_NAME}}
        </div>
        <div class="col-md-6 mb-3">
          <strong> Branch :</strong> {{feeStrucUpdate.BRANCH_NAME}}
        </div>
        <div class="col-md-6 mb-3">
          <strong> Academic Year :</strong> {{feeStrucUpdate.AY}}
        </div>
        <div class="col-md-6 mb-3">
          <strong>Semester :</strong> {{feeStrucUpdate.SEM_NAME}}
        </div>
        <div class="col-md-12 mt-3">
          <div class="tblMN table-responsive text-nowrap">

            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th class="p-3">Ledger</th>
                  <th class="p-3">GENERAL</th>
                  <th class="p-3">SC</th>
                  <th class="p-3">ST</th>
                  <th class="p-3">OBC</th>
                  <th class="p-3">PWD</th>
                  <th class="p-3">EWS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of feeStrucUpdate.ViewFeesDetail">
                  <td>{{detail.LEDGER_NAME}}</td>
                  <td>{{detail.FEES_GEN}}</td>
                  <td>{{detail.FEES_SC}}</td>
                  <td>{{detail.FEES_ST}}</td>
                  <td>{{detail.FEES_OBC}}</td>
                  <td>{{detail.FEES_PWD}}</td>
                  <td>{{detail.FEES_EWS}}</td>
                </tr>
               
              </tbody>
          </table>

        </div>
        </div>

      </div>
      <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal">Ok</button>
      </div>

     
        
      </div>
  </div>
</div>

