<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Assignments</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">
  
            <div class="tblMN table-responsive text-nowrap">
  
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Paper Name  
                        <p class="tooltipSec" data-toggle="tooltip" data-placement="top" title="Click on paper to upload Assignment">?</p>
                       
                      </th> 
                        <th>
                            Assignment Details 
                        </th>  
                        <th>
                            Assignment File
                        </th>  
                        <th>
                            Cut Off Date  <p class="tooltipSec" data-toggle="tooltip" data-placement="top" title="Upload Assignment within cut off date">?</p>
                        </th> 
                                                      
                        <th class="actionTd1" *ngIf="ROLE_ID==3">
                            Action
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let showAsgn of pageOfItems">
                      <!-- <td>{{showAsgn.PAPER_NAME}}</td> -->
                      <td>  <a [routerLink]="['../assignment-upload', showAsgn.ID]">{{ showAsgn.PAPER_NAME }}</a> </td>
                      <td> 
                        {{showAsgn.ASSIGNMENT_DETAILS}}
                      </td>
                     
                      <td> 
                        <a href="{{linkurl}}{{showAsgn.ASSIGNMENT_DOCUMENT}}" target="_blank">Download</a>
                      </td>
                      
                      <td>{{ showAsgn.CUTOFF_DATE | date:'dd-MM-yyyy' }}</td>
                      <td *ngIf="ROLE_ID==3">

                        <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showAsgn,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
  
                          <!-- <p class="mb-0" *ngIf="showAsgn.STATUS==true; else elseBlock">
                            <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showAsgn,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            
                            <a href="#" class="activeBtn{{showAsgn.STATUS}}" (click)="actvinactv(showAsgn,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                              <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                              <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                          </a>
                          </p>
                          <ng-template #elseBlock>
                            <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            
                            <a href="#" class="activeBtn{{showAsgn.STATUS}}" (click)="actvinactv(showAsgn,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                              <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                              <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                            </a>
  
                          </ng-template> -->
                          
                      </td>
                    </tr>                   
                  </tbody>
              </table>
          </div>
          <div class="row">
            <div class="col-md-6">
              <jw-pagination [items]="showAsigmnt" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6" *ngIf="ROLE_ID == 3">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div> 
          </div>
                   
          
          </div>
        </div>
      </section> 
</main><!-- End #main -->

<div *ngIf="loading" class="loadingSec">
  <img src="assets/images/loading-gif.gif" alt="Image" class="loading"/>            
</div>

<!-- status -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
          <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
       
  
        <form #assignStstusForm="ngForm" (ngSubmit)="assignStstusFormData()">
          <div class="modal-body text-center">
            <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
              Update Successfully.
            </div>
            <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
            <div class="form-group mt-3 statusClass d-none">
              <label class="btn btn-toggle active">
                <input type="radio" [(ngModel)]="assignmentUpdate.STATUS" name="STATUS" [value]="true"> Active
              </label>
              <label class="btn btn-toggle active">
                <input type="radio" [(ngModel)]="assignmentUpdate.STATUS" name="STATUS" [value]="false"> Inactive
  
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button class="btn btn-primary" [disabled]="assignStstusForm.invalid">Yes</button>
          </div>
        </form>
  
  
        
      </div>
    </div>
  </div>

    <!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Assignment</h5>
          <button type="reset" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #getAssignmntForm="ngForm" (ngSubmit)="getAssignmntFormdata(getAssignmntForm.value)" novalidate enctype="multipart/form-data">
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 

              <div class="col-md-12 mt-3">
                <label class="form-label">Paper Name<strong class="required"> *</strong> </label> 
                <!-- <input type="text" name="PAPER_NAME" class="form-control" ngModel required #PAPER_NAME="ngModel">  -->
                <select required class="form-select" ngModel name="PAPER_ID" data-live-search="true" #PAPER_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let chapterDropdwn of showpr" [value]="chapterDropdwn.ID">{{chapterDropdwn.PAPER_NAME}}
                    </option>
                  </select> 
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Assignment Details<strong class="required"> *</strong> </label> 
                    <input type="text" name="ASSIGNMENT_DETAILS" class="form-control" ngModel required #ASSIGNMENT_DETAILS="ngModel"> 
                    <div class="alert alert-danger" *ngIf="ASSIGNMENT_DETAILS.touched && ASSIGNMENT_DETAILS.invalid">
                      <div class="" *ngIf="ASSIGNMENT_DETAILS.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="ASSIGNMENT_DETAILS.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Cut Off Date<strong class="required"> *</strong> </label> 
                    <input type="date" name="CUTOFF_DATE" class="form-control" ngModel required #CUTOFF_DATE="ngModel"> 
                    <div class="alert alert-danger" *ngIf="CUTOFF_DATE.touched && CUTOFF_DATE.invalid">
                      <div class="" *ngIf="CUTOFF_DATE.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="CUTOFF_DATE.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Upload Assignment<strong class="required"> *</strong> </label>  
                    <input type="file" #fileInput class="form-control" (change)="onFileSelected($event)">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="getAssignmntForm.invalid || isSubmit || !selectedFile" >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>

  <!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Assignment</h5>
          <button type="button" #closeButton2 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #assignmentFormedit="ngForm" (ngSubmit)="assignmentFormeditdata(assignmentFormedit.value)" novalidate>
          <div class="modal-body">
  
            <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
            <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
              Saved Successfully.
            </div> 
            
              <div class="row">
  
                <div class="col-md-12 mt-3">
                  <label class="form-label">Paper<strong class="required"> *</strong> </label>  

                  <select required class="form-select" ngModel name="PAPER_ID" data-live-search="true" #PAPER_ID="ngModel" [(ngModel)]="assignmentUpdate.PAPER_ID">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let assignmntDropdwn of showpr" [value]="assignmntDropdwn.ID">{{assignmntDropdwn.PAPER_NAME}}
                    </option>
                  </select> 

                </div>
                
                <div class="col-md-12 mt-3">
                  <label class="form-label">Assignment Details<strong class="required"> *</strong> </label> 
                  <input type="text" class="form-control" name="ASSIGNMENT_DETAILS" pattern="{1,9}" #ASSIGNMENT_DETAILS="ngModel" required [(ngModel)]="assignmentUpdate.ASSIGNMENT_DETAILS" [value]="assignmentUpdate.ASSIGNMENT_DETAILS">                
                  <input type="hidden" class="form-control" [(ngModel)]="assignmentUpdate.ID" name="ID" [value]="assignmentUpdate.ID">  

                  <!-- <input type="text" name="ASSIGNMENT_DETAILS" class="form-control" ngModel required #ASSIGNMENT_DETAILS="ngModel">  -->
                  <div class="alert alert-danger" *ngIf="ASSIGNMENT_DETAILS.touched && ASSIGNMENT_DETAILS.invalid">
                    <div class="" *ngIf="ASSIGNMENT_DETAILS.errors?.required">
                      This field is required
                    </div>
                    <div class="" *ngIf="ASSIGNMENT_DETAILS.errors?.pattern">
                      Invalid input
                    </div>
                  </div>
                </div>

                <div class="col-md-12 mt-3">
                    <label class="form-label">Cut Off Date<strong class="required"> *</strong> </label> 
                    <input type="date" name="CUTOFF_DATE" class="form-control" ngModel required #CUTOFF_DATE="ngModel" [(ngModel)]="assignmentUpdate.CUTOFF_DATE" [value]="assignmentUpdate.CUTOFF_DATE"> 
                    <div class="alert alert-danger" *ngIf="CUTOFF_DATE.touched && CUTOFF_DATE.invalid">
                      <div class="" *ngIf="CUTOFF_DATE.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="CUTOFF_DATE.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                </div>
  
                <div class="col-md-12 mt-3">
                  <label class="form-label">Upload Topic<strong class="required"> *</strong> </label>  
                  <input type="file" #fileInput class="form-control mb-2" (change)="onFileSelected($event)" [(ngModel)]="assignmentUpdate.ASSIGNMENT_DOCUMENT">     
                  <a href="{{linkurl}}{{assignmentUpdate.ASSIGNMENT_DOCUMENT}}" class="mt-2" target="_blank" download>View Selected Assignment</a>
                </div>
              </div>
            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
           <button class="btn btn-primary"  [disabled]="assignmentFormedit.invalid || isSubmit" >Submit</button>
          </div>
          </form>
        </div>
    </div>
  </div>

<app-footer></app-footer>