

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Attendance</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">

            <div class="col-xl-12">
              <form #searchStudentAtt="ngForm" (ngSubmit)="searchStuatt()" novalidate>
                <div class="row mb-4">
                    <div class="col-sm-4 pe-0">                      
                        <select required class="form-select" [(ngModel)]="selectedPaperId" name="PAPER_NAME" #PAPER_NAME="ngModel">
                          <option value="0" disabled>Select Paper</option>
                          <option *ngFor="let showpaper of showpr" [value]="showpaper.ID">{{showpaper.PAPER_NAME}}</option>
                        </select>
                    </div> 
                    <div class="col-sm-4 pe-0">
                      <select required class="form-select" id="monthSelect" [(ngModel)]="selectedMonth" name="clasS_OF_DATE_MONTH" #clasS_OF_DATE_MONTH="ngModel" (ngModelChange)="onMonthChange($event)">
                        <option value="1" disabled>Select Month And Year</option>
                        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                      </select>
                    </div>
                              
                    <div class="col-sm-4 pe-0">       
                            <!-- <button class="btn btn-primary px-5 py-3 me-1">Search</button>         -->
                            <button class="btn btn-primary px-5 py-3 me-1" [disabled]="searchStudentAtt.invalid || isSubmit">Search</button>
                            <!-- <button type="reset" class="btn btn-primary px-5 py-3 me-1" (click)="resetForm()">Reset</button> -->
                    </div>
                </div>              
            </form>
            </div>
  
              <div class="tblMN table-responsive text-nowrap">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>
                              Class Date 
                            </th>       
                            <th>
                             Class Time (Start and End)
                           </th>                                  
                           <th>
                            Paper
                         </th> 
                         <th>
                            Faculty
                         </th> 
                         <th>
                            Attendance Status
                         </th> 
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let showAtt of pageOfItems">
                          <td>{{showAtt.CLASS_OF_DATE}}</td>
                          <td>{{showAtt.START_TIME}} - {{showAtt.END_TIME}}</td>
                          <td>{{showAtt.PAPER_NAME}}</td>
                          <td>{{showAtt.INSTRUCTOR_NAME}}</td>
                          <td>
                            <p [ngClass]="{'attPresent': showAtt.ATTENDANCE_STATUSCODE == 1, 'atAabsent': showAtt.ATTENDANCE_STATUSCODE == 0, 'attNotTaken': showAtt.ATTENDANCE_STATUSCODE == 3}">{{showAtt.ATTENDANCE_STATUS}} </p> 
                            </td>                          
                        </tr>  
                        <tr *ngIf="addErrormessage" style="background-color: #fff;">
                          <td colspan="5">
                            <div class="alert alert-danger alert-dismissible m-0 col-sm-12" role="alert">
                              Data Not Found
                            </div>
                          </td>
                        </tr> 
                        <tr>
                          <td colspan="5"><strong>TOTAL PRESENT : {{ countStatusCodeOne }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong>TOTAL ABSENT : {{ countStatusCodeOne2 }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong>TOTAL CLASS NOT TAKEN : {{ countStatusCodeOne3 }}</strong></td>
                        </tr>                    
                      </tbody>
                  </table>
                  
              </div>




               <div class="col-md-6 pull-left">
                <jw-pagination [items]="showStuAttend" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
              </div>
             <!-- <div class="col-md-6 pull-left text-right">
                <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
              </div> -->
              
  
              
          </div>
        </div>
      </section>  
  
</main><!-- End #main -->

