

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Semester</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">

            <div class="tblMN table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th width="40%">
                            Code
                          </th>       
                          <th>
                            Sem
                         </th>  
                         <th>
                          Sem Type
                       </th>                                
                          <th class="actionTd1">
                              Action
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let showsm of pageOfItems">
                        <td>{{showsm.SEM_CODE}}</td>
                        <td>{{showsm.SEM}}</td>
                        <td>{{showsm.SEM_TYPE}}</td>
                        <td>
                            <p class="mb-0" *ngIf="showsm.STATUS==true; else elseBlock">
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showsm,$event)"  data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showsm.STATUS}}" (click)="actvinactv(showsm,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                            </p>
                            <ng-template #elseBlock>
                              <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showsm.STATUS}} ms-0" (click)="actvinactv(showsm,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a>

                            </ng-template>
                            
                        </td>
                      </tr>
                     
                    </tbody>
                  
                </table>
            </div>
            <div class="col-md-6 pull-left">
              <jw-pagination [items]="showSem" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6 pull-left text-right">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div>
        </div>
      </div>
    </section>  

  </main><!-- End #main -->

  <div *ngIf="loading" class="loadingSec">
    <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
  </div>

  <!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Semester</h5>
        <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #getSemForm="ngForm" (ngSubmit)="getSemFormdata(getSemForm.value)" novalidate>
          <div class="modal-body">

            <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

            <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
              Saved Successfully.
            </div> 
            
            <div *ngIf="errormessage" class="alert alert-danger mt-3" role="alert">
              Data Not Saved (Duplicate Data Not Allowed)
            </div> 
            
              <div class="row">
                <div class="col-md-12 mt-3">
                  <label class="form-label">Code<strong class="required"> *</strong> </label> 
                  <input type="text" name="seM_CODE" class="form-control" ngModel required #seM_CODE="ngModel" pattern="^(?!\s)[\s\S]*[^\s]$"> 
                  <div class="alert alert-danger" *ngIf="seM_CODE.touched && seM_CODE.invalid">
                    <div class="" *ngIf="seM_CODE.errors?.required">
                      This field is required
                    </div>
                    <div class="" *ngIf="seM_CODE.errors?.pattern">
                      Invalid Input
                    </div>
                  </div>                  
                </div>

                <div class="col-md-12 mt-3">
                  <label class="form-label">Sem<strong class="required"> *</strong> </label>  
                  <input type="text" name="sem" ngModel required #sem="ngModel" required class="form-control" pattern="^[^\s].*[^\s]$">
                  <div class="alert alert-danger" *ngIf="sem.touched && sem.invalid">
                    <div class="" *ngIf="sem.errors?.required">
                      This field is required
                    </div>
                    <div class="" *ngIf="sem.errors?.pattern">
                      Invalid Input
                    </div>
                  </div>
                </div>   
                
                <div class="col-md-12 mt-3">
                  <label class="form-label">Sem Type<strong class="required"> *</strong> </label>  

                  <select required class="form-select" ngModel name="seM_TYPE" data-live-search="true" #seM_TYPE="ngModel">
                    <option value="" disabled>Select One</option>
                    <option value="ODD">ODD</option>
                    <option value="EVEN">EVEN</option>
                  </select>  

                  

                  <div class="" *ngIf="seM_TYPE.touched">
                    <div class="alert alert-danger" *ngIf="seM_TYPE.errors?.required">
                      This field is required
                    </div>
                  </div>

                </div> 
                

              </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
            <button class="btn btn-primary"  [disabled]="getSemForm.invalid || isSubmit" >Submit</button>
          </div>
        </form>
   
      
   
      </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Semester</h5>
        <button type="button" #closeButton2 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #semFormedit="ngForm" (ngSubmit)="semFormeditdata(semFormedit.value)" novalidate>
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Update Successfully.
          </div> 
          
            <div class="row">
              
              <div class="col-md-12 mt-3">
                <label class="form-label">Code<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="seM_CODE" pattern="^(?!\s)[\s\S]*[^\s]$" #seM_CODE="ngModel" required [(ngModel)]="SemUpdate.SEM_CODE" #semCode="ngModel">
                <input type="hidden" class="form-control" [(ngModel)]="SemUpdate.ID" name="id" [value]="SemUpdate.ID">  
                <div class="alert alert-danger" *ngIf="semCode.touched && semCode.invalid">
                  <div class="" *ngIf="semCode.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="semCode.errors?.pattern">
                    Invalid input
                  </div>
                </div>         
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Sem<strong class="required"> *</strong> </label>  
                <input type="text" class="form-control" required [(ngModel)]="SemUpdate.SEM" name="sem" pattern="^(?!\s)[\s\S]*[^\s]$" #semNm="ngModel">             
                <div class="alert alert-danger" *ngIf="semNm.touched && semNm.invalid">
                  <div class="" *ngIf="semNm.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="semNm.errors?.pattern">
                    Invalid input
                  </div>
                </div>
                
              </div>

    <div class="col-md-12 mt-3">
                <label class="form-label">Sem Type<strong class="required"> *</strong> </label>  
                <select required class="form-select" ngModel name="SEM_TYPE" data-live-search="true" #SEM_TYPE="ngModel" [(ngModel)]="SemUpdate.SEM_TYPE">
                  <option value="" disabled>Select One</option>
                  <option value="ODD">ODD</option>
                  <option value="EVEN">EVEN</option>
                </select> 
                <div class="alert alert-danger" *ngIf="SEM_TYPE.touched && SEM_TYPE.invalid">
                  <div class="" *ngIf="SEM_TYPE.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="SEM_TYPE.errors?.pattern">
                    Invalid input
                  </div>
                </div>              
              </div>
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
         <button class="btn btn-primary"  [disabled]="semFormedit.invalid || isSubmit" >Submit</button>
        </div>
        </form>
      </div>
  </div>
</div>


<!-- status -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" #closeButton3 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>     

      <form #semStstusForm="ngForm" (ngSubmit)="semStstusFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="SemUpdate.STATUS" name="status" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="SemUpdate.STATUS" name="status" [value]="false"> Inactive

            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="semStstusForm.invalid">Yes</button>
        </div>
      </form>


      
    </div>
  </div>
</div>






