

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Paper</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">

          <div class="tblMN table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Academic Year
                     </th> 
                     <th>
                      Branch Name
                   </th> 
                      <th>
                        Semester
                      </th>       
                      
                     <th>
                      Paper Code
                   </th> 
                     <th>
                      Credit score
                   </th> 
                   <th>
                    Paper Name
                 </th> 
                                                    
                      <th class="actionTd1">
                          Action
                      </th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let showprdata of pageOfItems">
                    <td>{{showprdata.AY}}</td>
                    <td>{{showprdata.BRANCH_NAME}}</td>
                    <td>{{showprdata.SEM}}</td>
                    <td>{{showprdata.PAPER_CODE}}</td>
                    <td>{{showprdata.CREDIT_SCORE}}</td>
                    <td>{{showprdata.PAPER_NAME}}</td>
                    <td>

                        <p class="mb-0" *ngIf="showprdata.STATUS==true; else elseBlock">
                          <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showprdata,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          
                          <a href="#" class="activeBtn{{showprdata.STATUS}}" (click)="actvinactv(showprdata,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                            <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                            <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                        </a>
                        </p>
                        <ng-template #elseBlock>
                          <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          
                          <a href="#" class="activeBtn{{showprdata.STATUS}} ms-0" (click)="actvinactv(showprdata,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                            <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                            <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                          </a>

                        </ng-template>
                        
                    </td>
                  </tr>
                 
                </tbody>
            </table>
        </div>
        
        
        
        <div class="col-md-6 pull-left">
          <jw-pagination [items]="showpr" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
        <div class="col-md-6 pull-left text-right">
          <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add</a>
        </div>

      </div>
      </div>
    </section>  

  </main><!-- End #main -->
  <div *ngIf="loading" class="loadingSec">
    <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
  </div>
  <!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Paper</h5>
        <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #getPaperForm="ngForm" (ngSubmit)="getPaperFormdata(getPaperForm.value)" novalidate>
          <div class="modal-body">

            <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

            <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
              Saved Successfully.
            </div> 
            
              <div class="row">
                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Academic Year <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="AY_ID" data-live-search="true" #AY_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let acDropdwn of showAcademicYearTrue" [value]="acDropdwn.ID">{{acDropdwn.AY}}
                    </option>
                  </select>                  
                </div> 
                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Branch <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
                    </option>
                  </select>                  
                </div> 

                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Semester <strong class="required"> *</strong> </label>  
                  <select required class="form-select" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let semDropdwn of showSem" [value]="semDropdwn.ID">{{semDropdwn.SEM}}
                    </option>
                  </select>                  
                </div> 
              
                <div class="col-md-12 mt-3">                  
                  <label class="form-label">Paper Type  <strong class="required"> *</strong></label>  
                  <select required class="form-select" ngModel name="PAPER_TYPE_ID" data-live-search="true" #PAPER_TYPE_ID="ngModel">
                    <option value="" disabled>Select One</option>
                    <option *ngFor="let ptDropdwn of showPapertype" [value]="ptDropdwn.ID">{{ptDropdwn.PAPER_TYPE}}
                    </option>
                  </select>                  
                </div> 
                <div class="col-md-12 mt-3">
                  <label class="form-label">Paper Code<strong class="required"> *</strong> </label>  
                  <input type="text" name="PAPER_CODE" ngModel required #PAPER_CODE="ngModel" required class="form-control" pattern="^[^\s].*[^\s]$">
                  <div class="" *ngIf="PAPER_CODE.touched">
                    <div class="alert alert-danger" *ngIf="PAPER_CODE.errors?.required">
                      This field is required
                    </div>
                    <div class="alert alert-danger" *ngIf="PAPER_CODE.errors?.pattern">
                      Invalid Input
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <label class="form-label">Credit Score<strong class="required"> *</strong> </label> 
                  <!-- <input type="text" class="form-control" name="PAPER_CODE" pattern="^[^\s].*[^\s]$" #PAPER_CODE="ngModel" required [(ngModel)]="paperUpdate.PAPER_CODE" [value]="paperUpdate.PAPER_CODE"> -->
                  <input type="text" name="CREDIT_SCORE" ngModel required #CREDIT_SCORE="ngModel" pattern="^(?=\D*\d\D*\d?\D*$)\d{1,2}$" required class="form-control">
                  <div class="" *ngIf="CREDIT_SCORE.touched">
                    <div class="alert alert-danger" *ngIf="CREDIT_SCORE.errors?.required">
                      This field is required
                    </div>
                    <div class="alert alert-danger" *ngIf="CREDIT_SCORE.errors?.pattern">
                      Invalid Input (Format: 1 or 2 digit numaric value)
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <label class="form-label">Paper Name<strong class="required"> *</strong> </label>  
                  <input type="text" name="PAPER_NAME" ngModel required #PAPER_NAME="ngModel" required class="form-control">
                  <div class="" *ngIf="PAPER_NAME.touched">
                    <div class="alert alert-danger" *ngIf="PAPER_NAME.errors?.required">
                      This field is required
                    </div>
                    <div class="alert alert-danger" *ngIf="PAPER_NAME.errors?.pattern">
                      Invalid Input
                    </div>
                  </div>
                </div>
                

              </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
            <button class="btn btn-primary"  [disabled]="getPaperForm.invalid || isSubmit" >Submit</button>
          </div>
        </form>
   
      
   
      </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Paper</h5>
        <button type="button" #closeButton2 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #paperFormedit="ngForm" (ngSubmit)="paperFormeditdata(paperFormedit.value)" novalidate>
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Saved Successfully.
          </div> 
          
            <div class="row">
              <div class="col-md-12 mt-3">
                <label class="form-label">Academic Year<strong class="required"> *</strong> </label> 
                <select required class="form-select" ngModel name="AY_ID" data-live-search="true" #AY_ID="ngModel" [(ngModel)]="paperUpdate.AY_ID">
                  <option value="" disabled>Select One</option>
                  <option *ngFor="let acDropdwn of showAcademicYearTrue" [value]="acDropdwn.ID">{{acDropdwn.AY}}
                  </option>
                </select> 

                <input type="hidden" class="form-control" [(ngModel)]="paperUpdate.ID" name="ID" [value]="paperUpdate.ID"> 
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Branch<strong class="required"> *</strong> </label> 
                <select required class="form-select" ngModel name="BRANCH_ID" data-live-search="true" #BRANCH_ID="ngModel" [(ngModel)]="paperUpdate.BRANCH_ID">
                  <option value="" disabled>Select One</option>
                  <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
                  </option>
                </select> 
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Semester<strong class="required"> *</strong> </label> 
                <select required class="form-select" ngModel name="SEM_ID" data-live-search="true" #SEM_ID="ngModel" [(ngModel)]="paperUpdate.SEM_ID">
                  <option value="" disabled>Select One</option>
                  <option *ngFor="let semDropdwn of showSem" [value]="semDropdwn.ID">{{semDropdwn.SEM}}
                  </option>
                </select> 
              </div>

             

              <div class="col-md-12 mt-3">
                <label class="form-label">Paper Type<strong class="required"> *</strong> </label> 
                <select required class="form-select" ngModel name="PAPER_TYPE_ID" data-live-search="true" #PAPER_TYPE_ID="ngModel" [(ngModel)]="paperUpdate.PAPER_TYPE_ID">
                  <option value="" disabled>Select One</option>
                  <option *ngFor="let ptDropdwn of showPapertype" [value]="ptDropdwn.ID">{{ptDropdwn.PAPER_TYPE}}
                  </option>
                </select> 
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Credit Score<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="CREDIT_SCORE" pattern="^(?=\D*\d\D*\d?\D*$)\d{1,2}$" required [(ngModel)]="paperUpdate.CREDIT_SCORE" #creditScore="ngModel">
                <div class="" *ngIf="creditScore.touched">
                  <div class="alert alert-danger" *ngIf="creditScore.errors?.required">
                    This field is required
                  </div>
                  <div class="alert alert-danger" *ngIf="creditScore.errors?.pattern">
                    Invalid Input (Format: 1 or 2 digit numaric value)
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Paper Code<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="PAPER_CODE" pattern="^[^\s].*[^\s]$" required [(ngModel)]="paperUpdate.PAPER_CODE" #paperCode="ngModel">
                <div class="" *ngIf="paperCode.touched">
                  <div class="alert alert-danger" *ngIf="paperCode.errors?.required">
                    This field is required
                  </div>
                  <div class="alert alert-danger" *ngIf="paperCode.errors?.pattern">
                    Invalid Input
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Paper Name<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="PAPER_NAME" #PAPER_NAME="ngModel" required [(ngModel)]="paperUpdate.PAPER_NAME" #paperNam="ngModel">
                <div class="" *ngIf="paperNam.touched">
                  <div class="alert alert-danger" *ngIf="paperNam.errors?.required">
                    This field is required
                  </div>
                  <div class="alert alert-danger" *ngIf="paperNam.errors?.pattern">
                    Invalid Input
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
         <button class="btn btn-primary"  [disabled]="paperFormedit.invalid || isSubmit" >Submit</button>
         <!-- <button class="btn btn-primary">Submit</button> -->
        </div>
        </form>
      </div>
  </div>
</div>  

<!-- status -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" #closeButton3 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
     

      <form #paperStstusForm="ngForm" (ngSubmit)="paperStstusFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="paperUpdate.STATUS" name="status" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="paperUpdate.STATUS" name="status" [value]="false"> Inactive

            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="paperStstusForm.invalid ">Yes</button>
        </div>
      </form>


      
    </div>
  </div>
</div>




