<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Student History </h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec profile">
        <div class="row">
            <div class="col-xl-6">
                <h1>Coming Soon!</h1>
    
                <p>This page is under construction, we are working very hard to give you the best experience with this one.</p>
            
                <div *ngIf="countdownData" class="coundwnP">
                    <p> <span>{{ countdownData.days }}</span>  <small>Days</small> </p>
                    <p> <span>{{ countdownData.hours }}</span>  <small>Hours</small></p>
                    <p> <span>{{ countdownData.minutes }}</span>  <small>Minutes</small></p>
                    <p> <span>{{ countdownData.seconds }} </span> <small>Seconds</small></p>
                  </div>
                  <div *ngIf="!countdownData">
                    <p>EXPIRED</p>
                  </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<app-footer></app-footer>
