
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Change Password</h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">

            <form #changePassForm="ngForm" (ngSubmit)="changePassFormdata(changePassForm.value)">
              <div class="row mb-2">
              <div class="col-md-4">

                <label class="form-label">New Password <strong class="required"> *</strong> </label> 
                <input type="text" name="password" class="form-control" ngModel required #password="ngModel" > 

                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                  <div *ngIf="password.errors?.required">
                    This field is required
                  </div>
                </div>

              </div>
              <div class="col-md-4 mt-3">

                <button class="btn btn-primary px-5 py-3 me-1 mt-3" [disabled]="changePassForm.invalid || isSubmit">Submit</button>

              </div>
              </div>
            </form>
            
             <!-- <div class="col-md-6 pull-left text-right">
                <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
              </div> -->
              
  
              
          </div>
        </div>
      </section>  

      <div *ngIf="updateSuccessmessage" class="alert alert-success mt-3" role="alert" style="width:200px; position: fixed; top: 100px; left: 50%; transform: translateX(-50%); z-index: 9999;">
        Update Successfully.
      </div>

      <div *ngIf="loading" class="loadingSec">
        <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
      </div>
  
</main><!-- End #main -->
