<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Fees </h1>
    </div><!-- End Page Title -->
    <section class="section">
       
        
<div class="row">

            <form #searchPaymntType="ngForm" (ngSubmit)="searchPaymntTypedata(searchPaymntType.value)" novalidate>
              <div class="row mt-4">
                  <div class="col-sm-4 pe-0">
                      <!-- <label class="form-label"> College <strong class="required"> *</strong> </label>   -->
                      <select required class="form-select" ngModel name="PAYMENT_TYPE_ID" data-live-search="true" #PAYMENT_TYPE_ID="ngModel">
                          <option value="" disabled>Select Payment Type</option>
                          <option *ngFor="let shopt of showpaymntyp" [value]="shopt.ID">{{shopt.PAYMENT_TYPE_NAME}}</option>
                      </select>
                      
                  </div>
                 
                  <div class="col-sm-4 pe-0">                      
                          <!-- <button class="btn btn-primary mt-33 px-4 py-3">Search</button>   -->
                          <button class="btn btn-primary px-5 py-3 me-1">Search</button>        
                  </div>
              </div>              
          </form>


          <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
            Data not found
        </div>


            <div class="col-xl-12 mt-3" *ngFor="let searchfee of showFSearch">    


              <!-- <div class="col-xxl-2 col-md-6 mb-3">
                <a class="btn btn-primary viewBtnFees" data-bs-toggle="modal" data-bs-target="#feesModal" data-bs-toggle="modal" data-bs-target="#feesModal" role="button">Fees Details</a>
            </div> -->

            <nav class="mt-2">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link btn btn-primary viewBtnFees " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Fees Details</button>
                <button class="nav-link btn btn-primary viewBtnFees active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Payment Details</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  
                <div class="col-sm-12 ">
                  <div class="row feescard">                          
                      <div class="col-md-6 mb-1">
                        <div class="card-title">
                          <strong>COLLEGE : </strong> {{searchfee.COLLEGE_NAME}}
                        </div>                        
                      </div>
                      <div class="col-md-6 mb-1">
                        <div class="card-title">
                          <strong> BRANCH :</strong> {{searchfee.BRANCH_NAME}} 
                        </div>                        
                      </div>
                    
                        <div class="col-md-6 mb-1">
                          <div class="card-title">
                            <strong> ACADEMIC YEAR : </strong>{{searchfee.AY}}
                          </div>
                          
                        </div>
                        <div class="col-md-6 mb-1">
                          <div class="card-title">
                            <strong>SEMESTER : </strong> {{searchfee.SEM_NAME}}
                          </div>
                        </div>
                    <div class="col-md-12 mt-3">
                      <div class="tblMN table-responsive text-nowrap">
            
                        <table class="table table-striped text-center">
                          <thead>
                            <tr>
                              <!-- <th class="p-3">Fees Header</th> -->
                              <th>Fees Type</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr  *ngFor="let feesDetl of searchfee.ViewFeesDetail">
                              <!-- <td>{{feesDetl.FEES_HEADER_ID}}</td> -->
                              <td>{{feesDetl.LEDGER_NAME}}</td>
                              <td>{{feesDetl.AMOUNT}}</td>
                            </tr>
                           
                          </tbody>
                      </table>
            
                    </div>
                    </div>
            
                  </div>
                  <!-- <button type="button" class="btn btn-primary float-end" data-bs-dismiss="modal">Ok</button> -->
                  </div>
  
              </div>
              <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="tblMN table-responsive text-nowrap">   
                  <table class="table table-striped text-center" >
                      <thead>
                        <tr>
                          <th>Payment Date</th>
                          <th>Amount</th>
                          <th>Reference No.</th>
                          <!-- <th>Payment Status</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        
                          <tr *ngFor="let feest of searchfee.ViewStudentFeesDetail">
                              <td>{{feest.PAYMENT_DATE | date:"MM-dd-yyyy"}}</td>
                              <td>{{feest.AMOUNT}}</td>
                              <td>{{feest.REFERENCE_NO}}</td>
                              <!-- <td>{{feest.PAYMENT_STATUS}}</td> -->
                          </tr>
                       
                      </tbody>
                  </table> 
              </div>
              <a  (click)="editBtn(searchfee,$event)" class="btn btn-primary mt-4  px-4 py-3" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Payment</a>
              </div>
            </div>






             
          </div>
        </div>



      </section>
</main><!-- End #main -->
<div *ngIf="loading" class="loadingSec">
  <img src="assets/images/loading-gif.gif" alt="Image" class="loading"/>            
</div>

<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Fees</h5>
                <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <form #getFeeSForm="ngForm" (ngSubmit)="getFeeSFormdata(getFeeSForm.value)">
                <div class="modal-body">

                    <!-- <small class="mandatoryFld"> <strong>*</strong> Mandatory field</small> -->

                    <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                        Saved Successfully.
                    </div>

                    <div class="row">

                        <div class="col-md-12 mt-3">  
                          <input type="hidden" class="form-control" name="COLLEGE_ID" #COLLEGE_ID="ngModel" [(ngModel)]="feesUpdate.COLLEGE_ID" [value]="feesUpdate.COLLEGE_ID">                
                          <input type="hidden" class="form-control" [(ngModel)]="feesUpdate.ID" name="ID" [value]="feesUpdate.ID">                        
                          <input type="hidden" class="form-control" name="BRANCH_ID"  #BRANCH_ID="ngModel" [(ngModel)]="feesUpdate.BRANCH_ID" [value]="feesUpdate.BRANCH_ID">
                          <input type="hidden" class="form-control" name="CATEGORY_ID" #CATEGORY_ID="ngModel" [(ngModel)]="feesUpdate.CATEGORY_ID" [value]="feesUpdate.CATEGORY_ID">
                          <input type="hidden" class="form-control" name="AY_ID" #AY_ID="ngModel" [(ngModel)]="feesUpdate.AY_ID" [value]="feesUpdate.AY_ID">  
                          <input type="hidden" class="form-control" name="SEM_ID" #SEM_ID="ngModel" [(ngModel)]="feesUpdate.SEM_ID" [value]="feesUpdate.SEM_ID">  
                          <input type="hidden" class="form-control" name="PAYMENT_TYPE_ID" #PAYMENT_TYPE_ID="ngModel" [(ngModel)]="feesUpdate.PAYMENT_TYPE_ID" [value]="feesUpdate.PAYMENT_TYPE_ID">  
                          <input type="hidden" class="form-control" name="PAYMENT_AMOUNT" #PAYMENT_AMOUNT="ngModel" [(ngModel)]="feesUpdate.PAYMENT_AMOUNT" [value]="feesUpdate.PAYMENT_AMOUNT"> 
                          <input type="hidden" class="form-control" name="TOTAL_AMOUNT_PAID" #TOTAL_AMOUNT_PAID="ngModel" [(ngModel)]="feesUpdate.TOTAL_AMOUNT_PAID" [value]="feesUpdate.TOTAL_AMOUNT_PAID">  
                          
                      </div>
                      </div>
                      <div class="row feescard">
                      
                        <div class="col-md-4">
                          <div class="card-title">
                            <strong>Total Amount : </strong> {{ feesUpdate.PAYMENT_AMOUNT }} 
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card-title">
                            <strong>Paid Amount : </strong> {{ feesUpdate.TOTAL_AMOUNT_PAID }}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card-title">
                            <strong>Due Amount : </strong> {{ calculateDifference() }} 
                          </div>
                        </div>

                      <div class="col-md-12 mt-3">
                        <label class="form-label"> Amount<strong class="required"> *</strong> </label>  
                        <input type="text" class="form-control" name="AMOUNT" [(ngModel)]="feesUpdate.AMOUNT" #AMOUNT="ngModel" required>
                        <div *ngIf="!isAmountValid() && AMOUNT.touched" class="alert alert-danger">
                          Exceed from Due Amount.
                        </div>
                      </div>
                      
                     <div class="col-md-12 mt-3">
                        <label class="form-label"> Payment Date <strong class="required"> *</strong> </label>  
                        <input type="date" class="form-control" name="PAYMENT_DATE" ngModel #PAYMENT_DATE="ngModel" required>  
                      </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>



<app-footer></app-footer>