<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>College Programme Mapping</h1>
    </div>
    <section class="section mainBodySec">
        <div class="row">
          <div class="col-xl-12">
            <div class="tblMN table-responsive text-nowrap">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      College
                    </th>
                    <th>
                      Programme
                    </th>
                    <!-- <th class="actionTd1">
                      Action
                    </th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let showClgPrgMap of showCollgeProgrmpping">
                    <td>{{showClgPrgMap.COLLEGE_NAME}}</td>
                    <td>
                      <p class="clgprogNestedTable" *ngFor="let showClgPrg of showClgPrgMap.PROGRAMMEDETAIL">
                        {{ showClgPrg.PROGRAMME_NAME }} 
                      </p>                     
                    </td>
                    
                  </tr>
    
                </tbody>
              </table>
            </div>
    
            <a class="btn btn-primary mt-4  px-4 py-3" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add Or Modify</a>
          </div>
        </div>
      </section>
</main>
<div *ngIf="loading" class="loadingSec">
  <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
</div>
<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Or Modify</h5>
          <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #getClgPgrgForm="ngForm" (ngSubmit)="getClgPgrgFormdata()" novalidate>
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Select College<strong class="required"> *</strong> </label> 
                    <select class="form-select" [(ngModel)]="selectedCollegeId" name="COLLEGE_ID" data-live-search="true" required
        #COLLEGE_ID="ngModel">
                    <option value="">-- Select One --</option>
                     <option *ngFor="let clg of showClgnm" [value]="clg.ID">
                       {{clg.COLLEGE_NAME}}
                     </option>
                   </select>
                    
                    
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Select Programme<strong class="required"> *</strong> </label>  
                    <ul class="list-group" id="studenpaper">
                        <li class="list-group-item active">Programme</li>
                        <li class="list-group-item"  *ngFor="let showClgPrgMap of showPrgramme; let i = index">
                          <label for="">
  
                              <input
                              class="form-check-input me-1"
                              type="checkbox"
                              [value]="showClgPrgMap.ID"
                              aria-label="..."                             
                              [id]="'PROGRAMME_ID' + (i + 1)" 
                              name="{{ showClgPrgMap.ID }}" 
                              /> 
                             

                             {{ showClgPrgMap.PROGRAMME_NAME }}                            
                             
                          </label>
                        </li>
                      </ul>
                  </div>
  
                </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="getClgPgrgForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        </div>
    </div>
  </div>

<app-footer></app-footer>