<main id="main" class="main">
    <div class="pagetitle">
        <h1>Student History </h1>
    </div><!-- End Page Title -->
    <section class="section mainBodySec profile">
        <div class="row" id="content">
            <div class="col-xl-2">
                <div class="text-center" *ngFor="let showStd of showStudetail">
                    <div class="profileImgCardMain">
                        <div class="profileBrdr2">
                            <div class="profileImgCard2">
                                <img src="{{linkurl}}{{showStd.PHOTO_PATH}}" alt="Profile">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="cardSecNew_lft">
                    <div class="card-body">

                        <div class="tab-content pt-2" *ngFor="let showStd of showStudetail">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.STUDENT_NAME}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Father</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.FATHER_NAME}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Mother</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.MOTHER_NAME}}</div>
                                </div>


                            </div>



                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>

            <div class="col-xl-5">
                <div class="cardSecNew_lft">
                    <div class="card-body">

                        <div class="tab-content pt-2" *ngFor="let showStd of showStudetail">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Email </div>
                                    <div class="col-lg-8 col-md-8">{{showStd.EMAIL}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Phone</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.PH_NUMBER}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">DOB</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.DOB | date}}</div>
                                </div>
                               

                                <!-- <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Adhaar No.</div>
                                    <div class="col-lg-8 col-md-8">{{showStd.ADHAAR_NO}}</div>
                                </div> -->
                                <!-- <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Gender </div>
                                    <div class="col-lg-8 col-md-8">{{showStd.GENDER}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">District </div>
                                    <div class="col-lg-8 col-md-8">{{showStd.DISTRICT}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">District </div>
                                    <div class="col-lg-8 col-md-8">{{showStd.DISTRICT}}</div>
                                </div> -->


                            </div>



                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>

            <div class="col-xl-12 mt-2">

                <div class="tblMN table-responsive text-nowrap">

                    <ng-container *ngFor="let showAy of showStudetail">
                        
                        <ng-container *ngFor="let showSem of showAy.SEM">   
                            <table class="table table table-striped">
                                <tr>
                                    <th style="padding: 10px;">{{showSem.SEM}}</th>
                                </tr>
                            </table>    
                                                         
                        
                        
                        <table class="table table customTableAtt customTablePap" *ngIf="showSem.PAPER_DETAILS && showSem.PAPER_DETAILS.length > 0">
                            
                                <tr>
                                    <th colspan="3">PAPER DETAILS</th>
                                </tr>
                                <tr>
                                    <td> <strong>PAPER CODE</strong> </td>
                                    <td> <strong> PAPER ID</strong></td>
                                    <td> <strong> PAPER NAME</strong> </td>
                                </tr>
                                <tr *ngFor="let showPaperDt of showSem.PAPER_DETAILS">
                                    <td> {{showPaperDt.PAPER_CODE}}</td>
                                    <td>{{showPaperDt.PAPER_ID}}</td>
                                    <td> {{showPaperDt.PAPER_NAME}}</td>
                                </tr>                                  
                        </table>
                        <table class="table table customTableAtt customTablePap" *ngIf="showSem.RESULT && showSem.RESULT > 0">
                           
                                <tr>
                                    <th colspan="4">RESULT</th>
                                </tr>
                                <tr>
                                    <td> <strong> Paper ID</strong>  </td>
                                    <td><strong> Paper Name</strong></td>
                                    <td><strong> Result</strong></td>
                                    <td><strong> Score</strong></td>
                                </tr>
                                <tr *ngFor="let showResult of showSem.RESULT">
                                    <td> {{showResult.PAPER_ID}}</td>
                                    <td>{{showResult.PAPER_NAME}}</td>
                                    <td> {{showResult.RESULT}}</td>
                                    <td> {{showResult.SCORE}}</td>
                                </tr>                                  
                        </table>
                        <table class="table customTableAtt" *ngIf="showSem.ATTENDANCE_SUMMARY && showSem.ATTENDANCE_SUMMARY.length > 0">
                           
                                <tr *ngFor="let showAtt of showSem.ATTENDANCE_SUMMARY">
                                    <th>ATTENDANCE SUMMERY </th>
                                    <th>Total Class : {{showAtt.total_class}}</th>
                                    <th>Present : {{showAtt.present}}</th>
                                    <th>Absent : {{showAtt.Absents}}</th>
                                </tr>                                  
                        </table>
                        <table class="table table customTableAtt customTablePap" *ngIf="showSem.attendanceDetails && showSem.attendanceDetails.length > 0">
                           
                                <tr>
                                    <th colspan="4">ATTENDANCE DETAILS</th>
                                </tr>
                                <tr>
                                    <td> <strong> Class of Date</strong> </td>
                                    <td> <strong> Instructor</strong>  </td>
                                    <td><strong> Paper</strong> </td>
                                    <td><strong> Attendance Status</strong> </td>
                                </tr>
                                <tr *ngFor="let showAttDetails of showSem.attendanceDetails">
                                    <td> {{showAttDetails.CLASS_OF_DATE}}</td>
                                    <td>{{showAttDetails.INSTRUCTOR_NAME}}</td>
                                    <td> {{showAttDetails.PAPER_NAME}}</td>
                                    <td> {{showAttDetails.ATTENDANCE_STATUS}}</td>
                                </tr>                                  
                        </table>
                        <table class="table customTableAtt customTablePap" *ngIf="showSem.FEES_PAYMENT_SUMMARY && showSem.FEES_PAYMENT_SUMMARY.length > 0">
                           <tr><th colspan="6">FEES PYAMENT SUMMERY</th></tr>
                           <tr>
                            <td> <strong> Semester</strong>  </td>
                            <td> <strong> Fees Type</strong> </td>
                            <td> <strong> Due Date</strong> </td>
                            <td> <strong> Payable Amount</strong> </td>
                            <td> <strong> Paid Amount</strong> </td>
                            <td> <strong> Due Amount</strong> </td>
                        </tr>
                            <tr *ngFor="let showPaySummry of showSem.FEES_PAYMENT_SUMMARY">
                                
                                <td>{{showPaySummry.SEM}}</td>
                                <td>{{showPaySummry.PAYMENT_TYPE_NAME}}</td>
                                <td>{{showPaySummry.DUE_DATE}}</td>
                                <td>{{showPaySummry.PAYABLE_AMOUNT}}</td>
                                <td>{{showPaySummry.TOTAL_AMOUNT_PAID}}</td>
                                <td>{{showPaySummry.TOTAL_DUE_AMOUNT}}</td>
                            </tr>                                  
                    </table>
                    <table class="table table customTableAtt customTablePap" *ngIf="showSem.FEES_DETAILS && showSem.FEES_DETAILS.length > 0">
                           
                        <tr>
                            <th colspan="4">FEES DETAILS</th>
                        </tr>
                        <tr>
                            <td> <strong> Payment Date</strong>  </td>
                            <td> <strong> Paid Amount</strong> </td>
                        </tr>
                        <tr *ngFor="let showFeeDetails of showSem.FEES_DETAILS">
                            <td>{{ showFeeDetails.PAYMENT_DATE | date:'dd-MM-yyyy' }}</td>
                            <td> {{showFeeDetails.AMOUNT}}</td>
                        </tr>                                  
                </table>
                <table class="table table customTableAtt customTablePap" *ngIf="showSem.LibaryBookIssue && showSem.LibaryBookIssue.length > 0">
                           
                    <tr>
                        <th colspan="8">LIBRARY BOOK ISSUE</th>
                    </tr>
                    <tr>
                        <td> <strong> Book Name</strong>  </td>
                        <td> <strong> Edition </strong> </td>
                        <td> <strong> ISBN </strong> </td>
                        <td> <strong> Publisher </strong> </td>
                        <td> <strong> Issued Date </strong> </td>
                        <td> <strong> Due Date </strong> </td>
                        <td> <strong> Return Date </strong> </td>
                        <td class="text-end"> <strong> Fine Amount </strong> </td>
                    </tr>
                    <tr *ngFor="let showlIBraryBkIssu of showSem.LibaryBookIssue">
                        <td>{{ showlIBraryBkIssu.BOOK_NAME }}</td>
                        <td> {{showlIBraryBkIssu.EDITION}}</td>
                        <td> {{showlIBraryBkIssu.ISBN}}</td>
                        <td> {{showlIBraryBkIssu.PUBLISHER}}</td>
                        <td> {{showlIBraryBkIssu.ISSUED_DATE}}</td>
                        <td> {{showlIBraryBkIssu.DUE_DATE}}</td>
                        <td> {{showlIBraryBkIssu.RETURN_DATE}}</td>
                        <td class="text-end"> {{showlIBraryBkIssu.FINE_AMOUNT}}</td>
                    </tr>                                  
            </table>
            <table class="table table customTableAtt customTablePap" *ngIf="showSem.ASSIGNMENT && showSem.ASSIGNMENT.length > 0">
                           
                <tr>
                    <th colspan="8">ASSIGNMENT</th>
                </tr>
                <tr>
                    <td> <strong> PAPER NAME</strong>  </td>
                    <td class="text-center"> <strong> CUTOFF DATE </strong> </td>
                    <td class="text-center"> <strong> ASSIGNMENT UPLOAD DATE </strong> </td>
                    <td class="text-center"> <strong> ASSIGNMENT </strong> </td>
                    <td class="text-center"> <strong> ASSIGNMENT UPLOAD</strong> </td>
                    
                </tr>
                <tr *ngFor="let showASSIGNMENT of showSem.ASSIGNMENT">
                    <td>{{ showASSIGNMENT.PAPER_NAME }}</td>
                    <td class="text-center"> {{showASSIGNMENT.CUTOFF_DATE | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center"> {{showASSIGNMENT.ASSIGNMENT_UPLOAD_DATE | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center"> <a target="_blank" class="customlinkBtn genrateBtn" href="{{linkurl}}{{showASSIGNMENT.ASSIGNMENT_DOCUMENTS}}"><i class="fa fa-eye"></i> Document</a> </td>
                     <td class="text-center"> <a target="_blank" class="genrateBtn" href="{{linkurl}}{{showASSIGNMENT.ASSIGNMENT_UPLOAD_DOCUMENT}}"><i class="fa fa-file" aria-hidden="true"></i> Uploaded Document</a></td>
                    
                </tr>                                  
        </table>
        <table class="table table customTableAtt customTablePap" *ngIf="showSem.RESULT && showSem.RESULT.length > 0">
                           
            <tr>
                <th colspan="8">RESULT
                </th>
            </tr>
            <tr>
                <td> <strong> PAPER NAME</strong>  </td>
                <td class="text-center"> <strong> RESULT</strong> </td>
                <!-- <td class="text-center"> <strong> SCORE </strong> </td> -->
                
            </tr>
            <tr *ngFor="let showResult of showSem.RESULT">
                <td>{{ showResult.PAPER_NAME }}</td>
                <td class="text-center"> 
                    <p *ngIf="showResult.RESULT.length > 0" class="rndbg text-center" [style.backgroundColor]="(showResult.RESULT === 'F' || showResult.RESULT === 'I') ? 'red !important' : '#00ce00 !important'">{{showResult.RESULT}}</p>
                 </td>
                <!-- <td class="text-center"> <strong>{{showResult.SCORE}} </strong> </td> -->
            </tr>                                  
    </table>
                    

                    </ng-container>  
                    </ng-container>
                    





                    <!-- <table class="table table-striped">
                        
                        
                            <ng-container *ngFor="let showAy of showStudetail">
                                <tr  *ngFor="let showsem of showAy.sem">
                                    <td colspan="3">
                                        <table>
                                            <tr>
                                                <th>Sem - {{showsem.SEM}}</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <th colspan="3">ATTENDANCE_SUMMARY</th>
                                                        </tr>
                                                        <tr *ngFor="let showAttensum of showsem.ATTENDANCE_SUMMARY">
                                                            <td>Total Class - {{showAttensum.total_class}}</td>
                                                            <td>Present - {{showAttensum.present}}</td>
                                                            <td>Absent - {{showAttensum.Absents}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                
                                            </tr>
                                        </table>  
                                    </td>
                                                          
                                  </tr>
                            </ng-container>
                         
                        
                    </table> -->
                
                </div>
                <!-- <div class="col-md-6 pull-left">
                  <jw-pagination [items]="showAcademicYear" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
                </div> -->
                <!-- <div class="col-md-6 pull-left text-right">
                  <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
                </div> -->
                
    
                
            </div>


          
        </div>

        <!-- Button to trigger download -->
        <button class="btn btn-primary" (click)="downloadPDF() ">Download PDF</button>
    </section>
</main><!-- End #main -->