
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Role Menu Permission</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        
        <div class="mb-3">
          <select name="role" id="roleDropDown" class="form-select dropdown" (change)="onRoleSelected($event)">
            <option value="" selected="selected">---Select Role---</option>
            <option *ngFor="let data of rolesData" [value]="data.ROLE_ID">{{data.ROLE_NAME}}</option>
          </select>
        </div>
        <div class="col-xl-12">
          <ngx-treeview [buttonClass]="buttonClass" [config]="config" [items]="items" (selectedChange)="onSelectedChange($event, items)"
            (filterChange)="onFilterChange($event)">
          </ngx-treeview>
        </div>
        
      </div>
    </section>  

  </main><!-- End #main -->

