<main id="main" class="main">

    <div class="pagetitle">
      <h1>Book Master</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">

            <div class="tblMN table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>Book Name</th>       
                          <th>Author Name</th> 
                          <th>Copies</th>                                 
                          <th>Rack No</th>                                 
                          <th>ISBN</th>                                 
                          <th>Publisher</th>                                 
                          <th>Edition</th>                                 
                          <th>MRP</th>                                 
                          <th class="actionTd1">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr  *ngFor="let showBM of pageOfItems">
                        <td>{{showBM.BOOK_NAME}}</td>
                        <td>{{showBM.AUTHOR_NAME}}</td>
                        <td>{{showBM.COPIES}}</td>
                        <td>{{showBM.RACK_NO}}</td>
                        <td>{{showBM.ISBN}}</td>
                        <td>{{showBM.PUBLISHER}}</td>
                        <td>{{showBM.EDITION}}</td>
                        <td>{{showBM.COST}}</td>
                        <td>
                            <p class="mb-0" *ngIf="showBM.STATUS==true; else elseBlock">
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showBM,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                                <a href="#" class="activeBtn{{showBM.STATUS}}" (click)="actvinactv(showBM,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                    <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                    <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                                </a>
                            </p>
                            <ng-template #elseBlock>
                              <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showBM.STATUS}} ms-0" (click)="actvinactv(showBM,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a>

                            </ng-template>
                            
                        </td>
                      </tr>
                     
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 pull-left">
              <jw-pagination [items]="showBookMaster" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6 pull-left text-right">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div>
        </div>
      </div>
    </section>  

  </main><!-- End #main -->

<div *ngIf="loading" class="loadingSec">
    <img src="assets/images/loading-gif.gif" alt="ITC-MBS" class="loading"/>            
</div>

  <!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Academic Year</h5>
          <button type="button" #closeButton class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #bookmasterForm="ngForm" (ngSubmit)="getBMFormdata(bookmasterForm.value)" novalidate>
            <div class="modal-body">

              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert" style="width:200px; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 1000;">
                Saved Successfully.
              </div> 
              <div *ngIf="errormessage" class="alert alert-danger mt-3" role="alert" style="width:200px; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 1000;">
                Data Not Saved (Duplicate Data Not Allowed)
              </div> 
              
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Book Name<strong class="required"> *</strong> </label> 
                    <!-- <input type="text" name="bm_CODE" pattern="^[^\s].*[^\s]$" class="form-control" ngModel required #bm_CODE="ngModel" >  -->
                    <input type="text" name="booK_NAME" pattern="^(?![0-9\s])^(?![!@#$%^&*(),.?:{}|<>]*$).*" class="form-control" ngModel required #booK_NAME="ngModel" placeholder="Book Name"> 
                    <div class="alert alert-danger" *ngIf="booK_NAME.touched && booK_NAME.invalid">
                      <div class="" *ngIf="booK_NAME.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="booK_NAME.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Author Name<strong class="required"> *</strong> </label>  
                    <input type="text" name="authoR_NAME" pattern="^[^\s][a-zA-Z\s]*[^\s]$" ngModel required #authoR_NAME="ngModel" required class="form-control" placeholder="Author Name">
                    <div class="" *ngIf="authoR_NAME.touched && authoR_NAME.invalid">
                      <div class="alert alert-danger" *ngIf="authoR_NAME.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="authoR_NAME.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Copies<strong class="required"> *</strong> </label>  
                    <input type="text" name="copies" pattern="[0-9][0-9]*" ngModel required #copies="ngModel" required class="form-control" placeholder="Copies">
                    <div class="" *ngIf="copies.touched && copies.invalid">
                      <div class="alert alert-danger" *ngIf="copies.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="copies.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Rack No<strong class="required"> *</strong> </label>  
                    <input type="text" name="racK_NO" pattern="^[^ ][a-zA-Z0-9]*$" ngModel required #racK_NO="ngModel" required class="form-control" placeholder="Rack No">
                    <div class="" *ngIf="racK_NO.touched && racK_NO.invalid">
                      <div class="alert alert-danger" *ngIf="racK_NO.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="racK_NO.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">ISBN<strong class="required"> *</strong> </label>  
                    <input type="text"  name="isbn" pattern="^[^ ][a-zA-Z0-9]*$" ngModel required #isbn="ngModel" required class="form-control" placeholder="ISBN">
                    <div class="" *ngIf="isbn.touched && isbn.invalid">
                      <div class="alert alert-danger" *ngIf="isbn.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="isbn.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Publisher<strong class="required"> *</strong> </label>  
                    <input type="text" name="publisher" pattern="^[^\s][a-zA-Z\s]*[^\s]$" ngModel required #publisher="ngModel" required class="form-control" placeholder="Publisher">
                    <div class="" *ngIf="publisher.touched && publisher.invalid">
                      <div class="alert alert-danger" *ngIf="publisher.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="publisher.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Edition<strong class="required"> *</strong> </label>  
                    <input type="text" name="edition" pattern="^[^ ][a-zA-Z0-9']*$" ngModel required #edition="ngModel" required class="form-control" placeholder="Edition">
                    <div class="" *ngIf="edition.touched && edition.invalid">
                      <div class="alert alert-danger" *ngIf="edition.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="edition.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">MRP<strong class="required"> *</strong> </label>  
                    <input type="text" name="cost" pattern="[0-9][0-9]*" ngModel required #cost="ngModel" required class="form-control" placeholder="MRP">
                    <div class="" *ngIf="cost.touched && cost.invalid">
                      <div class="alert alert-danger" *ngIf="cost.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="cost.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="resetFormValue(bookmasterForm)" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="bookmasterForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        </div>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Academic Year</h5>
          <button type="button" #closeButton2 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #bookmasterFormedit="ngForm" (ngSubmit)="bookmasterFormeditdata(bookmasterFormedit.value)" novalidate>
            <div class="modal-body">

              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert" style="width:200px; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 1000;">
                Saved Successfully.
              </div> 
              <div *ngIf="errormessage" class="alert alert-danger mt-3" role="alert" style="width:200px; position: fixed; top: 0; left: 50%; transform: translateX(-50%); z-index: 1000;">
                Data Not Saved (Duplicate Data Not Allowed)
              </div> 
              
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Book Name<strong class="required"> *</strong> </label> 
                    <!-- <input type="text" name="bm_CODE" pattern="^[^\s].*[^\s]$" class="form-control" ngModel required #bm_CODE="ngModel" >  -->
                    <input type="text" name="BOOK_NAME" pattern="^(?![0-9\s])^(?![!@#$%^&*(),.?:{}|<>]*$).*" class="form-control" [(ngModel)]="bookmasterUpdate.BOOK_NAME" required #BOOK_NAME="ngModel" > 

                    <input type="hidden" class="form-control" [(ngModel)]="bookmasterUpdate.ID" name="ID" [value]="bookmasterUpdate.ID"> 

                    <div class="alert alert-danger" *ngIf="BOOK_NAME.touched && BOOK_NAME.invalid">
                      <div class="" *ngIf="BOOK_NAME.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="BOOK_NAME.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Author Name<strong class="required"> *</strong> </label>  
                    <input type="text" name="AUTHOR_NAME" pattern="^[^\s][a-zA-Z\s]*[^\s]$" [(ngModel)]="bookmasterUpdate.AUTHOR_NAME" required #AUTHOR_NAME="ngModel" required class="form-control" placeholder="Author Name">
                    <div class="" *ngIf="AUTHOR_NAME.touched && AUTHOR_NAME.invalid">
                      <div class="alert alert-danger" *ngIf="AUTHOR_NAME.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="AUTHOR_NAME.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Copies<strong class="required"> *</strong> </label>  
                    <input type="text" name="COPIES" pattern="[0-9][0-9]*" [(ngModel)]="bookmasterUpdate.COPIES" required #COPIES="ngModel" required class="form-control" placeholder="COPIES">
                    <div class="" *ngIf="COPIES.touched && COPIES.invalid">
                      <div class="alert alert-danger" *ngIf="COPIES.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="COPIES.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Rack No<strong class="required"> *</strong> </label>  
                    <input type="text" name="RACK_NO" pattern="^[^ ][a-zA-Z0-9]*$" [(ngModel)]="bookmasterUpdate.RACK_NO" required #RACK_NO="ngModel" required class="form-control" placeholder="Rack No">
                    <div class="" *ngIf="RACK_NO.touched && RACK_NO.invalid">
                      <div class="alert alert-danger" *ngIf="RACK_NO.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="RACK_NO.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">ISBN<strong class="required"> *</strong> </label>  
                    <input type="text" readonly name="ISBN" pattern="^[^ ][a-zA-Z0-9]*$" [(ngModel)]="bookmasterUpdate.ISBN" required #ISBN="ngModel" required class="form-control" placeholder="ISBN">
                    <div class="" *ngIf="ISBN.touched && ISBN.invalid">
                      <div class="alert alert-danger" *ngIf="ISBN.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="ISBN.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Publisher<strong class="required"> *</strong> </label>  
                    <input type="text" name="PUBLISHER" pattern="^[^\s][a-zA-Z\s]*[^\s]$"  [(ngModel)]="bookmasterUpdate.PUBLISHER" required #PUBLISHER="ngModel" required class="form-control" placeholder="PUBLISHER">
                    <div class="" *ngIf="PUBLISHER.touched && PUBLISHER.invalid">
                      <div class="alert alert-danger" *ngIf="PUBLISHER.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="PUBLISHER.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Edition<strong class="required"> *</strong> </label>  
                    <input type="text" name="EDITION" pattern="^[^ ][a-zA-Z0-9']*$" [(ngModel)]="bookmasterUpdate.EDITION" required #EDITION="ngModel" required class="form-control" placeholder="EDITION">
                    <div class="" *ngIf="EDITION.touched && EDITION.invalid">
                      <div class="alert alert-danger" *ngIf="EDITION.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="EDITION.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">MRP<strong class="required"> *</strong> </label>  
                    <input type="text" name="COST" pattern="[0-9][0-9]*" [(ngModel)]="bookmasterUpdate.COST" required #COST="ngModel" required class="form-control" placeholder="COST">
                    <div class="" *ngIf="COST.touched && COST.invalid">
                      <div class="alert alert-danger" *ngIf="COST.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="COST.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="resetFormValue(bookmasterFormedit)" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="bookmasterFormedit.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        </div>
    </div>
</div>

<!-- ----status change---- -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" #closeButton3 class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
     

      <form #academicyrForm="ngForm" (ngSubmit)="bookmasterFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="bookmasterUpdate.STATUS" name="status" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="bookmasterUpdate.STATUS" name="status" [value]="false"> Inactive

            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="academicyrForm.invalid">Yes</button>
        </div>
      </form>


      
    </div>
  </div>
</div>