<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Course Type</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">

            <div class="tblMN table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th width="">
                            Type
                          </th>       
                          <th>
                            Description
                         </th>                                  
                          <th class="actionTd1">
                              Action
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let showCt of pageOfItems">
                        <td>{{showCt.COURSE_TYPE}}</td>
                        <td>{{showCt.DESCRIPTION}}</td>
                        <td>
                          <p class="mb-0" *ngIf="showCt.STATUS==true; else elseBlock">
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showCt,$event)" data-bs-target="#editModal">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                              </a>
                              <a href="#" class="activeBtntrue" data-bs-toggle="modal" data-bs-target="#statusModal" (click)="actvinactv(showCt,$event)">
                                  <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                              </a>
                            </p>
                            <ng-template #elseBlock>
                              <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showCt.STATUS}}" (click)="actvinactv(showCt,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a>

                            </ng-template>
                        </td>
                      </tr>
                      
                    </tbody>
                </table>
            </div>
            <jw-pagination [items]="showCourseType" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            <a class="btn btn-primary mt-4  px-4 py-3" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add</a>
        </div>
      </div>
    </section>  

  </main><!-- End #main -->

  <!-- Add Modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Course Type</h5>
          <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #courseForm="ngForm" (ngSubmit)="courseFormdata(courseForm.value)" novalidate>
            <div class="modal-body">
  
              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>
  
              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">
  
  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Type<strong class="required"> *</strong> </label> 
  
                    <input type="text" name="COURSE_TYPE" class="form-control" ngModel required #COURSE_TYPE="ngModel" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" placeholder="e.g: UG"> 
                    <div class="alert alert-danger" *ngIf="COURSE_TYPE.touched && COURSE_TYPE.invalid">
                      <div class="" *ngIf="COURSE_TYPE.errors?.required">
                        This field is required
                      </div>
                      <div class="" *ngIf="COURSE_TYPE.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>                  
                  </div>
  
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Description<strong class="required"> *</strong> </label>  
                    <input type="text" name="DESCRIPTION" ngModel required #DESCRIPTION="ngModel" required class="form-control" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" placeholder="e.g: UNDER GRADUATE">
                    <div class="" *ngIf="DESCRIPTION.touched">
                      <div class="alert alert-danger" *ngIf="DESCRIPTION.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="DESCRIPTION.errors?.pattern">
                        Invalid Input
                      </div>
                    </div>
                  </div>                 
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="resetFormValue(courseForm)" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="courseForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course Type</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #courseTypeFormedit="ngForm" (ngSubmit)="courseTypeFormeditdata(courseTypeFormedit.value)" novalidate>
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Saved Successfully.
          </div> 
          
            <div class="row">
              
              <div class="col-md-12 mt-3">
                <label class="form-label">Type<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="COURSE_TYPE" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" #COURSE_TYPE="ngModel" required [(ngModel)]="coursetypeUpdate.COURSE_TYPE" [value]="coursetypeUpdate.COURSE_TYPE" placeholder="e.g: UG">
                <input type="hidden" class="form-control" [(ngModel)]="coursetypeUpdate.ID" name="ID" [value]="coursetypeUpdate.ID">                
                <div class="alert alert-danger" *ngIf="COURSE_TYPE.touched && COURSE_TYPE.invalid">
                  <div class="" *ngIf="COURSE_TYPE.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="COURSE_TYPE.errors?.pattern">
                    Invalid input
                  </div>
                </div>                
              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Description<strong class="required"> *</strong> </label>  
                <input type="text" class="form-control" [(ngModel)]="coursetypeUpdate.DESCRIPTION" name="DESCRIPTION" [value]="coursetypeUpdate.DESCRIPTION" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" placeholder="e.g: UNDER GRADUATE" required>
                <!-- <div class="" *ngIf="DESCRIPTION.touched">
                  <div class="alert alert-danger" *ngIf="DESCRIPTION.errors?.required">
                    Accademic Year is required
                  </div>
                </div> -->
              </div>
             
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
         <button class="btn btn-primary"  [disabled]="courseTypeFormedit.invalid || isSubmit" >Submit</button>
        </div>
        </form>
      </div>
  </div>
</div>


<!-- ----status change---- -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
     

      <form #coursetypeForm="ngForm" (ngSubmit)="coursetypeFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="coursetypeUpdate.STATUS" name="STATUS" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="coursetypeUpdate.STATUS" name="STATUS" [value]="false"> Inactive
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="coursetypeForm.invalid">Yes</button>
        </div>
      </form>


      
    </div>
  </div>
</div>

<app-footer></app-footer>


