<main id="main" class="main">

    <div class="pagetitle">
      <h1>MIS</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">
            <form #searchMisInp="ngForm" (ngSubmit)="searchMisInput()" novalidate>
                <div class="row mb-4">
                  <div class="col-sm-3 pe-0">
                    <label class="form-label">MIS Report</label>
                    <select required class="form-select" [(ngModel)]="selectedMISReport" name="misReport" id="misReport">
                      <option value="0">Select MIS Report</option>
                      <option value="1">FEES COLLECTION</option>
                      <option value="2">STUDENT COUNT</option>
                      <option value="3">FACULTY COUNT</option>
                      <option value="4">STUDENT HISTORY</option>
                      <option value="5">FEES DEFAULTER</option>
                      <option value="6">LIBRARY DEFAULTER</option>
                    </select>
                  </div>
                  <div class="col-sm-3 pe-0">
                    <label class="form-label">From Date</label>
                    <input required type="date" name="fmdate" class="form-control" [(ngModel)]="fmdate" #fmdateInput="ngModel" required (change)="validateDateRange()">
                    
                    <div *ngIf="fmdateInput.invalid && fmdateInput.touched">
                      <!-- <div *ngIf="fmdateInput.errors?.required">From Date is required</div> -->
                    </div>
                  </div>
                  <div class="col-sm-3 pe-0">
                    <label class="form-label">To Date</label>
                    <input required type="date" name="todate" class="form-control" [(ngModel)]="todate" #todateInput="ngModel" required (change)="validateDateRange()">
                    <div *ngIf="todateInput.invalid && todateInput.touched">
                      <!-- <div *ngIf="todateInput.errors?.required">To Date is required</div> -->
                      <div *ngIf="toDateInvalid && (todateInput.dirty || todateInput.touched)">
                        To Date must be after From Date
                      </div>
                    </div>
                  </div>
              
                  <div class="col-sm-3 pe-0 mt-1">     
                    <button type="submit" class="btn btn-primary px-5 py-3 me-1 mt-4" [disabled]="selectedMISReport == '0' || !searchMisInp.form.valid || buttonDisabled">Search</button>
                  </div>
                </div>              
              </form>
              
          </div>
      </div>
    </section>  

  </main><!-- End #main -->
