

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Enrollment</h1>
    </div>
    <section class="section mainBodySec">
        <div class="row" *ngFor="let student of showStudent">

            <div class="col-md-4 mb-2">
                <p> <strong> Name : </strong> {{student.STUDENT_NAME}}</p>
            </div>
            <div class="col-md-4 mb-2">
                <p> <strong>Email :</strong> {{student.EMAIL}}</p>
            </div>
            <div class="col-md-4 mb-2">
                <p> <strong>Phone No. :</strong> {{student.PH_NUMBER}}</p>
            </div>

            <div class="col-md-4 mb-2">
                <p> <strong> Registration Year : </strong> {{student.REGISTRATION_YEAR}}</p>
            </div>
            <div class="col-md-4 mb-2">
                <p> <strong>Registration No. :</strong> {{student.STUDENT_REGISTRATION}}</p>
            </div>
            <div class="col-md-4 mb-2">
                <p> <strong>Branch :</strong> {{student.BRANCH_NAME}}</p>
            </div>
            <div class="col-md-4 mt-4 mb-3">
                <h5> <strong>Current Semester :</strong> {{student.SEM}}</h5>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">


                <form #studenPaperMapForm="ngForm" (ngSubmit)="studenPaperMapFormdata()" novalidate>
                    <ul class="list-group" id="studenpaper">
                        <li class="list-group-item active">All PAPERS</li>
                        <li class="list-group-item" *ngFor="let showstupap of showStuPapMap; let i = index">
                          <label for="">    
                              <input
                              class="form-check-input me-1"
                              type="checkbox"
                              [value]="showstupap.PAPER_ID"
                              aria-label="..."
                              [checked]="showstupap.PAPER_TYPE != 'E' || (showstupap.PAPER_TYPE == 'E' && showstupap.RECORDSAVED == 'True')"
                              [disabled]="showstupap.PAPER_TYPE != 'E'"
                              [ngClass]="'saveData' + showstupap.RECORDSAVED"
                              [id]="'PAPER_ID_' + (i + 1)" 
                               name="{{ showstupap.PAPER_ID }}"                           
                              /> 
                             {{ showstupap.PAPER_NAME }}
                          </label>
                        </li>
                      </ul>
                    <button type="submit" *ngIf="!hideSubmitButton" class="btn btn-primary mt-4 px-4 py-3">Enroll</button>
                  </form>
    
                  <!-- <form #studenPaperMapForm="ngForm" (ngSubmit)="studenPaperMapFormdata()" novalidate>
                    <ul class="list-group" id="studenpaper">
                      <li class="list-group-item active">MANDATORY PAPER</li>
                      <li class="list-group-item" *ngFor="let showstupap of showStuPapMap; let i = index">
                        <label for="">    
                          <input
                            class="form-check-input me-1"
                            type="checkbox"
                            [value]="showstupap.PAPER_ID"
                            aria-label="..."
                            [checked]="showstupap.PAPER_TYPE != 'E' || (showstupap.PAPER_TYPE == 'E' && showstupap.RECORDSAVED == 'True')"
                            [disabled]="showstupap.PAPER_TYPE != 'E'"
                            [ngClass]="'saveData' + showstupap.RECORDSAVED"
                            [id]="'PAPER_ID_' + (i + 1)" 
                            name="{{ showstupap.PAPER_ID }}"                           
                          /> 
                          {{ showstupap.PAPER_NAME }}
                        </label>
                      </li>
                    </ul>
                    <button type="submit" *ngIf="!(showStuPapMap.some(item => item.PAPER_TYPE === 't' && item.RECORDSAVED === 'True'))" class="btn btn-primary mt-4 px-4 py-3">Submit</button>
                  </form> -->
                  
            </div>
            <div class="col-md-6">
                    <ul class="list-group" id="studenpaper">
                      <li class="list-group-item active">ELECTIVE PAPERS</li>
                      <ng-container *ngFor="let showstupap of showStuPapMap; let i = index">
                        <li class="list-group-item" *ngIf="showstupap.PAPER_TYPE == 'E'">
                          <label>
                            <!-- <input
                              class="form-check-input me-1"
                              type="checkbox"
                              [value]="showstupap.PAPER_ID"
                              aria-label="..."
                              [checked]="showstupap.PAPER_TYPE != 'E' || (showstupap.PAPER_TYPE == 'E' && showstupap.RECORDSAVED == 'True')"
                              [disabled]="showstupap.PAPER_TYPE != 'E'"
                              [ngClass]="'saveData' + showstupap.RECORDSAVED"
                              [id]="'PAPER_ID_' + (i + 1)" 
                              name="{{ showstupap.PAPER_ID }}"                           
                            />  -->
                            {{ showstupap.PAPER_NAME }} 
                          </label>
                        </li>
                      </ng-container>
                      
                    </ul>
                    <ul class="list-group" id="studenpaper">
                        <li class="list-group-item active">THEORY PAPERS</li>
                        <ng-container *ngFor="let showstupap of showStuPapMap; let i = index">
                          <li class="list-group-item" *ngIf="showstupap.PAPER_TYPE == 'T'">
                            <label>
                               {{ showstupap.PAPER_NAME }} 
                            </label>
                          </li>
                        </ng-container>
                        
                      </ul>
                    <ul class="list-group" id="studenpaper">
                        <li class="list-group-item active">PRACTICAL PAPERS</li>
                        <ng-container *ngFor="let showstupap of showStuPapMap; let i = index">
                          <li class="list-group-item" *ngIf="showstupap.PAPER_TYPE == 'P'">
                            <label>
                               {{ showstupap.PAPER_NAME }} 
                            </label>
                          </li>
                        </ng-container>
                        
                      </ul>


                  
            </div>
        
        </div>
    </section>
</main>

