<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>faculty <!-- Instructor--> </h1>
  </div> <!-- End Page Title -->
  <section class="section mainBodySec">
    <div class="row">
      <div class="col-xl-12">

        <div class="search-container">
          <div class="row mb-4">
              <div class="col-sm-4 pe-0">  <input class="form-control" type="text" placeholder="Search Name..." [(ngModel)]="searchFilters['NAME']" (input)="updateFilteredItems()" /> </div>
              <div class="col-sm-4 pe-0"><input class="form-control" type="text" placeholder="Search Phone..." [(ngModel)]="searchFilters['PH_NUMBER']" (input)="updateFilteredItems()" /></div>
              <div class="col-sm-4 pe-0"><input class="form-control" type="text" placeholder="Search Email..." [(ngModel)]="searchFilters['EMAIL']" (input)="updateFilteredItems()" /></div>
              <!-- <div class="col-sm-4 pe-0"><input class="form-control" type="text" placeholder="Search Email..." [(ngModel)]="searchFilters.parsedFormattedPapers" (input)="updateFilteredItems()" /></div> -->
              <!-- <div class="col-sm-3 pe-0">    
                  <button type="button" class="btn btn-primary px-4 py-3 me-1" (click)="exportToExcel()">Download</button>
              </div> -->
          </div>
      </div>

        <div class="tblMN table-responsive text-nowrap">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Phone No.
                </th>
                <th>
                  Email
                </th>
                <th>
                  DOB
                </th>
                <th>
                  GENDER
                </th>
                <th>
                  Paper
                </th>

                <th class="actionTd1">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let showInstructr of pageOfItems">
                <td>{{showInstructr.NAME}}</td>
                <td>{{showInstructr.PH_NUMBER}}</td>
                <td>{{showInstructr.EMAIL}}</td>
                <td>{{showInstructr.DOB | date:'dd-MM-yyyy'}}</td>
                <td>{{showInstructr.GENDER}}</td>
                <td>
                  <p class="clgprogNestedTable" *ngFor="let showInsPap of showInstructr.PAPERDETAILS">
                    {{showInsPap.PAPER_NAME}}
                  </p>
                 
                </td>
                <td>

                  <p class="mb-0" *ngIf="showInstructr.STATUS==true; else elseBlock">
                    <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showInstructr,$event)"
                      data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                    <a href="#" class="activeBtn{{showInstructr.STATUS}}" (click)="actvinactv(showInstructr,$event)"
                      data-bs-toggle="modal" data-bs-target="#statusModal">
                      <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                      <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                    </a>
                  </p>
                  <ng-template #elseBlock>
                    <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil"
                        aria-hidden="true"></i></a>

                    <a href="#" class="activeBtn{{showInstructr.STATUS}}" (click)="actvinactv(showInstructr,$event)"
                      data-bs-toggle="modal" data-bs-target="#statusModal">
                      <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                      <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                    </a>

                  </ng-template>

                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <!-- <div class="col-md-6 pull-left">
          <jw-pagination [items]="showIns" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
        </div> -->

        <div class="col-md-6 pull-left mt-3">
                   

          <!-- <button (click)="onPreviousButtonClick()" class="paginationBtn">Previous</button> -->
          <ng-container *ngFor="let page of pagesArray()">
          <button 
              (click)="onChangePage(page)" 
              [class.active]="currentPage === page"
              class="paginationBtn"
          >
              {{ page }}
          </button>
          </ng-container>
          <!-- <button 
          (click)="onNextButtonClick()" 
          class="paginationBtn" 
          [disabled]="currentPage === totalPages"
          >
          Next
          </button> -->
          
        </div>
        <div class="col-md-6 pull-left text-right">                    
          <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal"
          role="button">Add </a>
      </div>

        
        
      </div>
    </div>
  </section>
</main><!-- End #main -->


<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Instructor</h5>
        <button type="reset" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <form #getInstructorForm="ngForm" (ngSubmit)="getInstructorFormdata(getInstructorForm.value)" novalidate
        enctype="multipart/form-data">
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong> Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Saved Successfully.
          </div>

          <div class="col-md-12 mt-3">
            <label class="form-label">Name<strong class="required"> *</strong> </label>
            <input type="text" name="NAME" class="form-control" ngModel required #NAME="ngModel">
            <div class="alert alert-danger" *ngIf="NAME.touched && NAME.invalid">
              <div class="" *ngIf="NAME.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="NAME.errors?.pattern">
                Invalid input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">BRANCH<strong class="required"> *</strong> </label>
            <select required class="form-select" ngModel name="BRANCH_ID" data-live-                                                                       ="true" #BRANCH_ID="ngModel">
              <option value="" disabled>Select One</option>
              <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="BRANCH_ID.touched && BRANCH_ID.invalid">
              <div class="" *ngIf="BRANCH_ID.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="BRANCH_ID.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">College <strong class="required"> *</strong> </label>
            <select required class="form-select" ngModel name="COLLEGE_ID" data-live-search="true"
              #COLLEGE_ID="ngModel">
              <option value="" disabled>Select One</option>
              <option *ngFor="let clgDropdwn of showCollegeType" [value]="clgDropdwn.ID">{{clgDropdwn.COLLEGE_NAME}}
              </option>
            </select>

            <div class="alert alert-danger" *ngIf="COLLEGE_ID.touched && COLLEGE_ID.invalid">
              <div class="" *ngIf="COLLEGE_ID.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="COLLEGE_ID.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label class="col-md-4 col-lg-3 col-form-label">Gender<strong class="required">
                *</strong> </label>

            <select required class="form-select" ngModel name="GENDER" data-live-search="true" #GENDER="ngModel">
              <option value="" disabled>Select One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <div class="alert alert-danger" *ngIf="GENDER.touched && GENDER.invalid">
              <div class="" *ngIf="GENDER.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="GENDER.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Phone No. <strong class="required"> *</strong> </label>
            <input type="text" name="PH_NUMBER" class="form-control" ngModel required #PH_NUMBER="ngModel">
            <div class="alert alert-danger" *ngIf="PH_NUMBER.touched && PH_NUMBER.invalid">
              <div class="" *ngIf="PH_NUMBER.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="PH_NUMBER.errors?.pattern">
                Invalid input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Email <strong class="required"> *</strong> </label>
            <input type="email" name="EMAIL" class="form-control" ngModel required #EMAIL="ngModel">
            <div class="alert alert-danger" *ngIf="EMAIL.touched && EMAIL.invalid">
              <div class="" *ngIf="EMAIL.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="EMAIL.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">DOB <strong class="required"> *</strong> </label>
            <input type="date" name="DOB" class="form-control" ngModel required #DOB="ngModel">
            <div class="alert alert-danger" *ngIf="DOB.touched && DOB.invalid">
              <div class="" *ngIf="DOB.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="DOB.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Paper <strong class="required"> *</strong> </label>
            <ul class="list-group" id="studenpaper">
              <li class="list-group-item" *ngFor="let papDropdwn of showpr; let i = index">               
                <label for="">
                  <input class="form-check-input me-1" type="checkbox" [id]="'PAPER_ID' + (i + 1)" name="{{ papDropdwn.ID }}" (change)="logCheckboxState(papDropdwn)">
                  {{ papDropdwn.PAPER_NAME }}
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" [disabled]="getInstructorForm.invalid || isSubmit || !isAtLeastOneCheckboxChecked">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- ----status change---- -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>


      <form #InstructorForm="ngForm" (ngSubmit)="InstructorFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="instructrUpdate.STATUS" name="STATUS" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="instructrUpdate.STATUS" name="STATUS" [value]="false"> Inactive
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="InstructorForm.invalid">Yes</button>
        </div>
      </form>



    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true"
  data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Instructor</h5>
        <button type="reset" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <form #editInstructorForm="ngForm" (ngSubmit)="editInstructorFormdata(editInstructorForm.value)" novalidate
        enctype="multipart/form-data">
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong> Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Update Successfully.
          </div>

          <div class="col-md-12 mt-3">
            <label class="form-label">Name<strong class="required"> *</strong> </label>
            <input type="text" name="NAME" class="form-control" ngModel required [(ngModel)]="instructrUpdate.NAME"
              [value]="instructrUpdate.NAME">
            <input type="hidden" name="ID" class="form-control" ngModel [(ngModel)]="instructrUpdate.ID"
              [value]="instructrUpdate.ID">

            <div class="alert alert-danger" *ngIf="NAME.touched && NAME.invalid">
              <div class="" *ngIf="NAME.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="NAME.errors?.pattern">
                Invalid input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">BRANCH<strong class="required"> *</strong> </label>
            <select required class="form-select" name="BRANCH_ID" [(ngModel)]="instructrUpdate.BRANCH_ID"
              [value]="instructrUpdate.BRANCH_ID">
              <option value="" disabled>Select One</option>
              <option *ngFor="let branchDropdwn of showBranch" [value]="branchDropdwn.ID">{{branchDropdwn.BRANCH_NAME}}
              </option>
            </select>
            <div class="alert alert-danger" *ngIf="BRANCH_ID.touched && BRANCH_ID.invalid">
              <div class="" *ngIf="BRANCH_ID.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="BRANCH_ID.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">College <strong class="required"> *</strong> </label>
            <select required class="form-select" ngModel name="COLLEGE_ID" data-live-search="true"
              [(ngModel)]="instructrUpdate.COLLEGE_ID" [value]="instructrUpdate.COLLEGE_ID">
              <option value="" disabled>Select One</option>
              <option *ngFor="let clgDropdwn of showCollegeType" [value]="clgDropdwn.ID">{{clgDropdwn.COLLEGE_NAME}}
              </option>
            </select>

            <div class="alert alert-danger" *ngIf="COLLEGE_ID.touched && COLLEGE_ID.invalid">
              <div class="" *ngIf="COLLEGE_ID.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="COLLEGE_ID.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label class="col-md-4 col-lg-3 col-form-label">Gender<strong class="required">
                *</strong> </label>

            <select required class="form-select" ngModel name="GENDER" data-live-search="true"
              [(ngModel)]="instructrUpdate.GENDER" [value]="instructrUpdate.GENDER">
              <option value="" disabled>Select One</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <div class="alert alert-danger" *ngIf="GENDER.touched && GENDER.invalid">
              <div class="" *ngIf="GENDER.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="GENDER.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Phone No. <strong class="required"> *</strong> </label>
            <input type="text" name="PH_NUMBER" class="form-control" ngModel required
              [(ngModel)]="instructrUpdate.PH_NUMBER" [value]="instructrUpdate.PH_NUMBER">
            <div class="alert alert-danger" *ngIf="PH_NUMBER.touched && PH_NUMBER.invalid">
              <div class="" *ngIf="PH_NUMBER.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="PH_NUMBER.errors?.pattern">
                Invalid input
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="form-label">Email <strong class="required"> *</strong> </label>
            <input type="email" name="EMAIL" class="form-control" ngModel required [(ngModel)]="instructrUpdate.EMAIL"
              [value]="instructrUpdate.EMAIL">
            <div class="alert alert-danger" *ngIf="EMAIL.touched && EMAIL.invalid">
              <div class="" *ngIf="EMAIL.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="EMAIL.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label class="col-md-4 col-lg-3 col-form-label">DOB<strong class="required">
                *</strong> </label>
            <input type="date" name="DOB" class="form-control" [(ngModel)]="instructrUpdate.DOB" required #DOB="ngModel"
              [value]="instructrUpdate.DOB">


            <div class="alert alert-danger" *ngIf="DOB.touched && DOB.invalid">
              <div class="" *ngIf="DOB.errors?.required">
                This field is required
              </div>
              <div class="" *ngIf="DOB.errors?.pattern">
                Invalid Input
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label class="form-label">Paper<strong class="required"> *</strong> </label>



            <ul class="list-group" id="studenpaper">
              <li class="list-group-item" *ngFor="let papDropdwn of showpr; let i = index">
               
                <label for="">
                  <input 
                    class="form-check-input me-1" 
                    type="checkbox" 
                    [id]="'PAPER_ID' + (i + 1)"
                    name="{{ papDropdwn.ID }}"
                    [checked]=" isSelected(papDropdwn.ID.toString())"
                    (change)="logCheckboxStateEdit($event, papDropdwn)"
                  />
                  {{ papDropdwn.PAPER_NAME }}

                </label>
              </li>
            </ul>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" [disabled]="editInstructorForm.invalid || isSubmit || !atLeastOneCheckboxSelected()">Submit</button>
        </div>
      </form>



    </div>
  </div>
</div>

<app-footer></app-footer>