<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Academic Year</h1>
    </div><!-- End Page Title -->

    <section class="section mainBodySec">
      <div class="row">
        <div class="col-xl-12">

            <div class="tblMN table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead>
                      <tr>
                          <th>
                            Code
                          </th>       
                          <th>
                            Year
                         </th>                                  
                          <th class="actionTd1">
                              Action
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let showAy of pageOfItems">
                        <td>{{showAy.AY_CODE}}</td>
                        <td>{{showAy.AY}}</td>
                        <td>
                           

                            <p class="mb-0" *ngIf="showAy.STATUS==true; else elseBlock">
                              <a class="editBtn" title="Edit" data-bs-toggle="modal" (click)="editBtn(showAy,$event)" data-bs-target="#editModal"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showAy.STATUS}}" (click)="actvinactv(showAy,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                            </a>
                            </p>
                            <ng-template #elseBlock>
                              <a class="editBtn inactiveEdit" title="Field Deactive"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                              
                              <a href="#" class="activeBtn{{showAy.STATUS}}" (click)="actvinactv(showAy,$event)" data-bs-toggle="modal" data-bs-target="#statusModal">
                                <i title="Active" class="fa fa-check" aria-hidden="true"></i>
                                <i title="Deactive" class="fa fa-ban" aria-hidden="true"></i>
                              </a>

                            </ng-template>
                            
                        </td>
                      </tr>
                     
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 pull-left">
              <jw-pagination [items]="showAcademicYear" [pageSize]="pageSize" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
            <div class="col-md-6 pull-left text-right">
              <a class="btn btn-primary pull-right" href="#" data-bs-toggle="modal" data-bs-target="#AddModal" role="button">Add </a>
            </div>
            

            
        </div>
      </div>
    </section>  

  </main><!-- End #main -->


<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Academic Year</h5>
          <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div> 
        <form #academicYrForm="ngForm" (ngSubmit)="getAYFormdata(academicYrForm.value)" novalidate>
            <div class="modal-body">

              <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

              <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
                Saved Successfully.
              </div> 
              
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <label class="form-label">Academic Code<strong class="required"> *</strong> </label> 
                    <!-- <input type="text" name="aY_CODE" pattern="^[^\s].*[^\s]$" class="form-control" ngModel required #aY_CODE="ngModel" >  -->
                    <input type="text" name="aY_CODE" class="form-control" ngModel required #aY_CODE="ngModel" > 
                    <div class="alert alert-danger" *ngIf="aY_CODE.touched && aY_CODE.invalid">
                      <div class="" *ngIf="aY_CODE.errors?.required">
                        This field is required
                      </div>
                      <!-- <div class="" *ngIf="aY_CODE.errors?.pattern">
                        Invalid input
                      </div> -->
                    </div>
                    
                  </div>

                  <div class="col-md-12 mt-3">
                    <label class="form-label">Academic Year<strong class="required"> *</strong> </label>  
                    <input type="text" name="ay" pattern="^\d{4}-\d{4}$" ngModel required #ay="ngModel" required class="form-control" placeholder="yyyy-yyyy">
                    <div class="" *ngIf="ay.touched && ay.invalid">
                      <div class="alert alert-danger" *ngIf="ay.errors?.required">
                        This field is required
                      </div>
                      <div class="alert alert-danger" *ngIf="ay.errors?.pattern">
                        Invalid input
                      </div>
                    </div>
                  </div>                 
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="resetFormValue(academicYrForm)" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
              <button class="btn btn-primary"  [disabled]="academicYrForm.invalid || isSubmit" >Submit</button>
            </div>
          </form>
     
        
     
        </div>
    </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="AddModal" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Academic Year</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div> 
      <form #academicYrFormedit="ngForm" (ngSubmit)="academicYrFormeditdata(academicYrFormedit.value)" novalidate>
        <div class="modal-body">

          <small class="mandatoryFld"> <strong>*</strong>  Mandatory field</small>

          <div *ngIf="addSuccessmessage" class="alert alert-success mt-3" role="alert">
            Saved Successfully.
          </div> 
          
            <div class="row">
              
              <div class="col-md-12 mt-3">
                <label class="form-label">Academic Code<strong class="required"> *</strong> </label> 
                <input type="text" class="form-control" name="aY_CODE" pattern="^[^\s].*[^\s]$" #aY_CODE="ngModel" required [(ngModel)]="academicyrUpdate.AY_CODE" [value]="academicyrUpdate.AY_CODE">
                <input type="hidden" class="form-control" [(ngModel)]="academicyrUpdate.ID" name="ID" [value]="academicyrUpdate.ID">                
                
                <div class="alert alert-danger" *ngIf="aY_CODE.touched && aY_CODE.invalid">
                  <div class="" *ngIf="aY_CODE.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="aY_CODE.errors?.pattern">
                    Invalid input
                  </div>
                </div>  
                
                <!-- <div class="alert alert-danger" *ngIf="aY_CODE.touched && aY_CODE.invalid">
                  <div class="" *ngIf="aY_CODE.errors?.required">
                    This field is required
                  </div>
                  <div class="" *ngIf="aY_CODE.errors?.pattern">
                    Invalid Input
                  </div>
                </div>     -->

              </div>

              <div class="col-md-12 mt-3">
                <label class="form-label">Academic Year<strong class="required"> *</strong> </label>  
                <input type="text" class="form-control" pattern="^\d{4}-\d{4}$" required [(ngModel)]="academicyrUpdate.AY" name="ay" [value]="academicyrUpdate.AY" placeholder="yyyy-yyyy">
                <div class="" *ngIf="ay.touched">
                  <div class="alert alert-danger" *ngIf="ay.errors?.required">
                    This field is required
                  </div>
                </div>
              </div>
             
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
         <button class="btn btn-primary"  [disabled]="academicYrFormedit.invalid || isSubmit" >Submit</button>
        </div>
        </form>
      </div>
  </div>
</div>


<!-- ----status change---- -->

<div class="modal fade" id="statusModal" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModal3Label">Active / Inactive</h5>
        <button type="button" class="btn-cls" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
     

      <form #academicyrForm="ngForm" (ngSubmit)="academicyrFormData()">
        <div class="modal-body text-center">
          <div *ngIf="updateSuccessmessage" class="alert alert-success" role="alert">
            Update Successfully.
          </div>
          <span class="statusTitle w-75 m-auto m-0">Are you sure you want to change the status ?</span>
          <div class="form-group mt-3 statusClass d-none">
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="academicyrUpdate.STATUS" name="status" [value]="true"> Active
            </label>
            <label class="btn btn-toggle active">
              <input type="radio" [(ngModel)]="academicyrUpdate.STATUS" name="status" [value]="false"> Inactive

            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button class="btn btn-primary" [disabled]="academicyrForm.invalid">Yes</button>
        </div>
      </form>


      
    </div>
  </div>
</div>




<app-footer></app-footer>


